<!-- **************** MAIN CONTENT START **************** -->
<main>
    <!-- =======================
    Page Banner START -->
    <section class="bg-light py-5">
        <div class="container">
            <div class="row g-4 g-md-5 position-relative">
                <!-- SVG decoration -->
                <figure class="position-absolute top-0 start-0 d-none d-sm-block">	
                    <svg width="22px" height="22px" viewBox="0 0 22 22">
                        <polygon class="fill-purple" points="22,8.3 13.7,8.3 13.7,0 8.3,0 8.3,8.3 0,8.3 0,13.7 8.3,13.7 8.3,22 13.7,22 13.7,13.7 22,13.7 "></polygon>
                    </svg>
                </figure>
    
                <!-- Title and Search -->
                <div class="col-lg-10 mx-auto text-center position-relative">
                    <!-- SVG decoration -->
                    <figure class="position-absolute top-50 end-0 translate-middle-y">
                        <svg width="27px" height="27px">
                            <path class="fill-orange" d="M13.122,5.946 L17.679,-0.001 L17.404,7.528 L24.661,5.946 L19.683,11.533 L26.244,15.056 L18.891,16.089 L21.686,23.068 L15.400,19.062 L13.122,26.232 L10.843,19.062 L4.557,23.068 L7.352,16.089 L-0.000,15.056 L6.561,11.533 L1.582,5.946 L8.839,7.528 L8.565,-0.001 L13.122,5.946 Z"></path>
                        </svg>
                    </figure>
                    <!-- Title -->
                    <h1 class="display-6">Hello, how can we help?</h1>
                    <!-- Search bar -->
                    <div class="col-lg-7 mx-auto text-center mt-4">
                        <form class="bg-body shadow rounded p-2">
                            <div class="input-group">
                                <input class="form-control border-0 me-1" type="text" name="search" [(ngModel)]="searchText" placeholder="Ask a question...">
                                <button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->
    
    <!-- =======================
    Page content START -->
    <section class="pt-5 pb-0 pb-lg-5">
        <div class="container">
            <div class="">
                <div class="col-lg-10 mx-auto ">
                    
                    <!-- Tabs START -->
                    <div class="mb-5 mt-3">
                        <ul class="nav nav-pills border-bottom justify-content-sm-center mb-4 px-3" id="course-pills-tab" role="tablist">
                            <!-- Tab item -->
                            <li *ngFor="let faqsTitel of generalFaqs | filter:searchText;let i = index" class="nav-item me-2 me-sm-5">
                                <a class="nav-link mb-2 mb-md-0  rounded-0" [ngClass]="{ 'active': i == 0 }" id="course-pills-tab-1" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-1" type="button" role="tab" aria-controls="course-pills-tabs-1" aria-selected="false" (click)="getQuestionsAns(faqsTitel?.faq_id)">{{faqsTitel?.header}}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Tabs END -->
     
                    <!-- Tabs content START -->
                    <div class="tab-content mt-5" id="course-pills-tabContent">
                        <!-- Content START -->
                        <div class="tab-pane fade show active" id="course-pills-tabs-1" role="tabpanel" aria-labelledby="course-pills-tab-1">
                            <!-- Main content START -->
                            <div class="mb-5">
                                <!-- Title -->
                                <h3 class="mb-4">Frequently Asked Questions</h3>

                                <!-- FAQ START -->
                                <div class="accordion accordion-icon accordion-bg-light" id="accordionExample2">
                                    <!-- Item -->
                                    <div class="accordion-item mb-3" *ngFor="let questions of allQAndA | filter:searchText; let i = index">
                                        <h6 class="accordion-header font-base" [id]="'heading-1'+i">
                                            <button class="accordion-button fw-bold rounded d-inline-block" [ngClass]="{'collapsed': i != 0}" type="button"
                                                data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-1'+i" aria-expanded="true" [attr.aria-controls]="'collapse-1'+i">
                                                {{questions?.questions}}
                                            </button>
                                        </h6>
                                        <!-- Body -->
                                        <div [id]="'collapse-1'+i" class="accordion-collapse collapse" [ngClass]="{ 'show': i == 0 }" [attr.aria-labelledby]="'heading-1'+i"
                                            data-bs-parent="#accordionExample2">
                                            <div class="accordion-body mt-3">
                                                {{questions?.answers}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- FAQ END -->

                            </div>
                            <!-- Main content END -->
                        </div>
                        <!-- Content END -->
                    </div>
                    <!-- Tabs content END -->
    
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page content END -->
    
</main>
<!-- **************** MAIN CONTENT END **************** -->