<!-- Header START -->
<header class="navbar-light navbar-sticky header-static">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-3 px-xl-5">
			<!-- Logo START -->
			<a class="navbar-brand" routerLink="/home">
				<img class="light-mode-item navbar-brand-item" src="assets/Edutech-logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="assets/Edutech-logo.svg" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

				<!-- Nav category menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown dropdown-menu-shadow-stacked">
						<a class="nav-link btn-lg btn-primary-soft px-3 py-3 py-xl-0 btn" href="#" id="categoryMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="bi bi-ui-radios-grid me-2"></i>
							<span>Category</span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="categoryMenu">

							<!-- Dropdown submenu -->
							<li> <a class="dropdown-item" routerLink="/abroad-education">Abroad Education</a></li>
							<li> <a class="dropdown-item" routerLink="/indian-education">Education India</a></li>
							<li> <a class="dropdown-item" routerLink="/internships">Internships</a></li>
							<!-- <li> <a class="dropdown-item" routerLink="/register-for-test">Register for Test</a></li> -->
							<!-- Dropdown submenu -->
							<li> <hr class="dropdown-divider"></li>
							<li> <a class="dropdown-item rounded-2 mb-0" routerLink="/all-categories">View all categories</a></li>
						</ul>
					</li>
				</ul>
				<!-- Nav category menu END -->

				<!-- Nav Main menu START -->
				<ul  class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item-->
					<li *ngFor="let menuItem of megaMenuItems" class="nav-item" [ngClass]="menuItem?.normalMenuItems ? 'dropdown' : ''">
						<a class="nav-link " [ngClass]="menuItem?.normalMenuItems ? 'dropdown-toggle' : ''" [routerLink]="menuItem?.link" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{menuItem?.label}}</a>
						<ul class="dropdown-menu"  aria-labelledby="demoMenu">
							<li *ngFor="let item of menuItem['normalMenuItems']" class="dropend" [ngClass]="item?.subMenu ? 'dropdown-submenu' : '' ">
								<a class="dropdown-item d-none d-lg-block" [ngClass]="item?.subMenu ? 'dropdown-toggle' : '' " [routerLink]="item?.menuId ? [item?.link , item?.menuId,item?.name] : [item?.link]">{{item?.name}}</a>
								<a class="dropdown-item d-lg-none" [ngClass]="item?.subMenu ? 'dropdown-toggle' : '' " [routerLink]="item?.menuId ? [item?.link , item?.menuId,item?.name] : [item?.link]" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false">{{item?.name}}</a>
								<ul class="dropdown-menu dropdown-menu-start" data-bs-popper="none">
									<li *ngFor="let subMenuItem of item['subMenu']"> 
										<a class="dropdown-item d-none d-lg-block" [routerLink]="[subMenuItem?.link ,item?.menuId,item?.name,subMenuItem?.id,subMenuItem?.title]" data-bs-toggle="dropdown" aria-expanded="false">{{subMenuItem?.title}}
										</a>
										<a class="dropdown-item d-lg-none" [routerLink]="[subMenuItem?.link ,item?.menuId,item?.name,subMenuItem?.id,subMenuItem?.title]" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false">{{subMenuItem?.title}}
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
				<!-- Nav Main menu END -->

				<!-- Nav Search START -->
				<div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
					<div class="nav-item w-100">
						<!-- <form class="position-relative">
							<input class="form-control pe-5 bg-transparent" type="search" placeholder="Search" aria-label="Search">
							<button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
						</form> -->
						<!-- Cart button -->
						<a class="btn btn-light btn-round mb-0" routerLink="/cart" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
							<i class="bi bi-cart3 fa-fw"></i>
						</a>
					</div>
				</div>
				<!-- Nav Search END -->
			</div>
			<!-- Main navbar END -->

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->

