<!-- =======================
Footer START -->
<footer class="pt-5" style="background-image: url( 'assets/Footer-Banner.png' );background-repeat:no-repeat; background-size:cover;">
	<div class="container">
		<!-- Row START -->
		<div class="row g-4">

			<!-- Widget 1 START -->
			<div class="col-lg-3">
				<!-- logo -->
				<a class="me-0" href="index.html">
					<img class="light-mode-item" routerLink="/home" src="assets/Edutech-logo.svg" alt="logo" width="90%"> 
					<img class="dark-mode-item" routerLink="/home" src="assets/Edutech-logo.svg" alt="logo" width="90%">
				</a>
				<p class="my-3" style="color:#313d9c;font-size: medium;">We are a young team of diversified people who have education close to our hearts and are extremely passionate about global and domestic education.</p>
				<!-- Social media icon -->
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-facebook" href="https://www.facebook.com/edutechexlearning/" target="_blank"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-instagram" href="https://www.instagram.com/edutechexglobal/" target="_blank"><i class="fab fa-fw fa-instagram"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-twitter" href="https://twitter.com/EduTechEx1" target="_blank"><i class="fab fa-fw fa-twitter"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-linkedin" href="https://www.linkedin.com/company/edutechex-global/mycompany/" target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-youtube" href="https://www.youtube.com/channel/UCoygtJAtV4Kk5ahlK9VZ_Sw" target="_blank"><i class="fab fa-fw fa-youtube"></i></a> </li>
				</ul>
			</div>
			<!-- Widget 1 END -->

			<!-- Widget 2 START -->
			<div class="col-lg-6">
				<div class="row g-4">
					<!-- Link block -->
					<div *ngFor="let footerItem of footerItems" class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4" style="color:#313d9c">{{footerItem['heading']}}</h5>
						<ul *ngFor="let subItem of footerItem['items']" class="nav flex-column">
							<li class="nav-item"><a class="nav-link" style="font-size: medium;" [routerLink]="[subItem?.link]">{{subItem['name']}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Widget 2 END -->

			<!-- Widget 3 START -->
			<div class="col-lg-3" style="font-size: medium;" >
				<h5 class="mb-2 mb-md-4" style="color:#313d9c">Contact</h5>
				<!-- Time -->
				<p class="mb-2" style="color:#313d9c">
					Contact No:<span class="h6 fw-light ms-2" style="color:#2ab2a6">7330611818</span>
				</p>

				<p class="mb-0" style="color:#313d9c">Email:<span class="h6 fw-light ms-2" style="color:#2ab2a6">office@edutechex.com</span></p>

			    <!-- Row END -->
			</div> 
			<!-- Widget 3 END -->
		</div><!-- Row END -->
			
		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="py-3">
			<div class="container px-0">
				<div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left">
					<!-- copyright text -->
					<div class="text-primary-hover" style="color:#313d9c"><a href="#" class="" style="color:#313d9c">©2022 EDUTECHEX</a>. All rights reserved. </div>
					<!-- copyright links-->
					<div class=" mt-3 mt-md-0">
						<ul class="list-inline mb-0">
							<li class="list-inline-item"><a class="nav-link" routerLink="/cancellation-policy">Cancellation Policy</a></li>
							<li class="list-inline-item"><a class="nav-link pe-0" routerLink="/privacy-policy">Privacy policy</a></li>
							<li class="list-inline-item"><a class="nav-link pe-0" routerLink="/terms-and-conditions">Terms and Conditions</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="" style="position: fixed; z-index: 999; bottom: 50px;right: 30px;">
		<!-- <i class="fab fa-fw fa-whatsapp bg-success p-3 text-center"></i> -->
		<a class="text-whatsapp" href="https://api.whatsapp.com/send?phone=917330611818" target="_blank"><i class="fab fa-fw fa-whatsapp fs-2  btn-success rounded-circle p-1"></i></a> 
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Back to top -->



<div id="myModal" class="modal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered px-4">
		<div class="modal-content rounded-0">
			<div class="modal-header border border-bottom-0 ">
				<h4 class="mt-4 mt-md-0" style="color:#2AB2A6">Talk to Our Expert Counselor!</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body p-3">
				<!-- Title -->
				<form [formGroup]="websiteLoadpopupData" (ngSubmit)="onSubmit()">
                    <!-- Name -->
                    <div class="mb-3 bg-light-input form-group">
                        <!-- <label for="yourName" class="form-label">Your name *</label> -->
                        <input type="text" formControlName="name" class="form-control form-control-lg" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is required</div>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="mb-3 bg-light-input">
                        <!-- <label for="emailInput" class="form-label">Email address *</label> -->
                        <input type="email" class="form-control form-control-lg" placeholder="Email address" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <!-- Phone No -->
                    <div class="mb-3 bg-light-input">
                        <!-- <label for="emailInput" class="form-label">Phone No *</label> -->
                        <input type="text" class="form-control form-control-lg" placeholder="Phone" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" >
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Phone is required</div>
                        </div>
                    </div>
                    <div class="mb-3 bg-light-input">
                        <!-- <label for="emailInput" class="form-label">Phone No *</label> -->
                        <input type="text" class="form-control form-control-lg" placeholder="City"  formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" >
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">City is required</div>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="d-grid mb-3">
                        <button class="btn mb-0 text-white" style="background-color: #444cae;">Submit
                        </button>
                    </div>
                </form>
			</div>
		</div>
	</div>
</div>

<!-- Sucess Message Modal -->
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content card shadow-lg p-3 mb-5 bg-body rounded">
			<!-- <div class="modal-header">
			<button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Model Title</h4>
			</div> -->
			<div class="modal-body text-center text-success">
				<!-- <h4 *ngIf="isSubmit">{{sumbmitMessage}}</h4> -->
				<p>Your message has been successfully sent. We will contact you very soon!</p>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal !-->

