<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Page Banner START -->
    <section class="py-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="p-4 text-center rounded-3" style="background-color: #444cae;">
                        <h1 class="text-white m-0">Testimonials</h1>
                        <!-- Breadcrumb -->
                        <div class="d-flex justify-content-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-dark breadcrumb-dots mb-0">
                                    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Testimonials</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->
    
    <!-- =======================
    Inner part START -->
    <section class="pt-4">
        <div class="container">
            <!-- Search option START -->
            <div class="row mb-4 align-items-center">
               
                <!-- Select course option -->
                <div class="col-sm-6 col-xl-3 mt-3 mt-lg-0">
                    <form class="border rounded p-2">
                        <select class="form-select form-select-sm js-choice input-borderless" (change)='onSelect(val.value)' #val>
                            <option  value="null">Select Courses</option>
                            <option *ngFor="let item of testimonialsIteams" [value]="item?.label">
                                <ng-container>
                                    {{item?.label}}
                                </ng-container>
                            </option>
                        </select>
                    </form>
                </div>
    
                <!-- Select subject option -->
                <div class="col-sm-6 col-xl-3 mt-3 mt-xl-0">
                    <form class="border rounded p-2">
                        <select class="form-select form-select-sm js-choice input-borderless" (change)='onSelectSub(val2.value)' #val2>
                            <option  value="null">Select Subject</option>
                            <option *ngFor="let subjectItem of testimonialsSubjectItem" [value]="subjectItem?.subJectName">
                                <ng-container>
                                    {{subjectItem?.subJectName}}
                                </ng-container>
                            </option>
                        </select>
                    </form>
                </div>

            </div>
            <!-- Search option END -->
    
            <!-- Reviews list START -->
            <div class="row g-4 justify-content-center">
    
                <!-- Card item START -->
                <div *ngFor="let item of allReviewList" class="col-lg-10 col-xl-6">
                    <div  class="card shadow p-2">
                        <div class="row g-0">
                            <!-- Image -->
                            <div class="col-md-4">
                                <img [src]="item['images']" class="rounded-3" alt="...">
                            </div>
    
                            <!-- Card body -->
                            <div class="col-md-8">
                                <div class="card-body">
                                    <!-- Title -->
                                    <div class="d-sm-flex justify-content-sm-between mb-2 mb-sm-3">
                                        <div>
                                            <h5 class="card-title mb-0"><a href="#">{{item?.name}}</a></h5>
                                            <!-- <p class="small mb-2 mb-sm-0">Professor at Sigma College</p> -->
                                        </div>
                                        <span class="h6 fw-light badge bg-purple bg-opacity-10" style="color:#444cae ;">Class {{item?.class}}</span>
                                    </div>
                                    <!-- Content -->
                                    <p class="mb-3">{{item?.comments}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card item END -->

            </div>
            <!-- Reviews list END -->
        </div>
    </section>
    <!-- =======================
    Inner part END -->
    
</main>
<!-- **************** MAIN CONTENT END **************** -->