<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Page Banner START -->
    <section class="py-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="p-4 text-center rounded-3" style="background-color: #444cae;">
                        <h1 class="text-white m-0">Testimonials</h1>
                        <!-- Breadcrumb -->
                        <div class="d-flex justify-content-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-dark breadcrumb-dots mb-0">
                                    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Testimonials</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->
    
    <!-- =======================
    Inner part START -->
    <section class="pt-4">
        <div class="container">
            <!-- Search option START -->
            <div class="row mb-4 align-items-center">
               
                <!-- Select Segment option -->
                <div class="col-sm-6 col-xl-3 mt-3 mt-lg-0">
                    <form class="border rounded p-2">
                        <select class="form-select form-select-sm js-choice input-borderless" (change)='onSelect(val.value)' #val>
                            <option  value="null">Select Segment</option>
                            <option *ngFor="let item of testimonialsIteams" [value]="item?.label">
                                <ng-container>
                                    {{item?.label}}
                                </ng-container>
                            </option>
                        </select>
                    </form>
                </div>
    
                <!--  Select Course  option -->
                <div class="col-sm-6 col-xl-3 mt-3 mt-xl-0">
                    <form class="border rounded p-2">
                        <select class="form-select form-select-sm js-choice input-borderless" (change)='onSelectSub(val2.value)' #val2>
                            <option  value="null"> Select Course</option>
                            <option *ngFor="let subjectItem of testimonialsSubjectItem" [value]="subjectItem?.subJectName">
                                <ng-container>
                                    {{subjectItem?.subJectName}}
                                </ng-container>
                            </option>
                        </select>
                    </form>
                </div>

            </div>
            <!-- Search option END -->
    
            <!-- Reviews list START -->
            <div class="row g-4 justify-content-center">
    
                <!-- Card item START -->
                <div *ngFor="let item of allReviewList" class="col-lg-10 col-xl-6">
                    <div  class="card shadow p-3">
                        <div class="text-center p-4 rounded-3 position-relative mb-5 mb-md-0">
                            <!-- Avatar -->
                            <div class="avatar avatar-xl mb-3">
                                <img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar">
                            </div>
                            <h6 class="mb-3">{{item?.name}}</h6>
                            <p>Class {{item?.class}}</p>
                            <!-- Content -->
                            <blockquote>
                                <p>
                                    <span class="me-1 small"><i class="fas fa-quote-left"></i></span>
                                    {{item?.comments}}
                                    <span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
                                </p>
                            </blockquote>
                            <!-- Rating -->
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <!-- Like button -->
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1">
                                <!-- <label class="btn btn-outline-light btn-sm mb-0" for="btnradio1">
                                    {{item?.score}}
                                </label> -->
                                <!-- Dislike button -->
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                                <label class="btn btn-info btn-sm mb-0" for="btnradio2" style="white-space:pre-wrap;">
                                    {{item?.universities}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card item END -->

            </div>
            <!-- Reviews list END -->
        </div>
    </section>
    <!-- =======================
    Inner part END -->
    
</main>
<!-- **************** MAIN CONTENT END **************** -->