<!-- ****** MAIN CONTENT START ****** -->

<main>

    <!-- =======================
    Header START -->
    <section class="pt-0 pb-0" style="background-image: url( 'assets/core-emerging/Banner.svg' );">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-7">
                    <!-- Title -->
                    <h1 class="mb-3 text-white display-6">
                        Job Mapping in Core Emerging Sectors
                    </h1>
                    <p class="mb-4 lead">
                        Forecasting the futuristic trends of Industry 
                    </p>
                </div>
                
                <!-- Image -->
                <div class="col-sm-5">
                    <img src="assets/core-emerging/Vector.svg" class="" width="90%" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Header END -->

    <!-- =======================
    Body Content START -->
    <section class="">
        <div class="container p-2">
            <p class="lead">Countries around world are creating wealth through innovation and technology. In the era of automation, Industry 4.0, Data Science, ML/AI it is very important for students to keep a track of the rapid changes happening in each industry sector, this is pivotal to learn the right skills and choose the relevant industry paths to build a successful career. The core of EDUCTECHEX programs is a blend of navigated learning coupled with forecast from industry players in terms of tech innovation, skill set building. This model is intended to provide students with a practical model to gain access to jobs in cutting edge technologies in industry sectors.</p>
        </div>
    </section>
     <!-- =======================
    Body Content END -->

</main>

<!-- ****** MAIN CONTENT END ****** -->