<div class="overflow-hidden mx-3 row">
    <div class="col-lg-3 sidebar mt-5 rounded-3" style="width:280px; height:8auto;background-color:#313D9C;">
     <h2 class="text-white mb-4 mx-4">Question Entry Option</h2>
     <div class="form-group p-2">
         <label for="name" class="text-white mb-2">Select Segment</label>
         <select class="form-select" aria-label="Default select example">
             <option selected>English 1</option>
             <option value="1">One</option>
             <option value="2">Two</option>
             <option value="3">Three</option>
           </select>
     </div>
     <div class="form-group p-2">
         <label for="name" class="text-white mb-2">Select Assessment Name</label>
         <select class="form-select" aria-label="Default select example">
             <option selected>K12 Curriculum </option>
             <option value="1">One</option>
             <option value="2">Two</option>
             <option value="3">Three</option>
           </select>
     </div>
     <div class="form-group p-2">
        <label for="name" class="text-white mb-2">Select Subject</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>K12 Curriculum </option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
     <div class="form-group p-2">
         <label for="name" class="text-white mb-2">Select Topic</label>
         <select class="form-select" aria-label="Default select example">
             <option selected>K12 Curriculum </option>
             <option value="1">One</option>
             <option value="2">Two</option>
             <option value="3">Three</option>
           </select>
     </div>
     <div class="form-group p-2">
         <label for="name" class="text-white mb-2">Question Type</label>
         <select class="form-select" aria-label="Default select example">
             <option selected>Fill in the Blanks</option>
             <option value="1">Multiple Choice Questions</option>
             <option value="2">Multiple Select Questions</option>
             <option value="3">Fill in the Blanks</option>
             <option value="3">True/False</option>
             <option value="3">Match the Following </option>
             <option value="3">Essay</option>
             <option value="3">Descriptive Math Question</option>
           </select>
     </div>
     <div class="form-group p-2">
        <label for="name" class="text-white mb-2">Total Questions</label>
        <input type="text" class="form-control" value="80" readonly>
    </div>
    <div class="form-group p-2">
        <label for="name" class="text-white mb-2">Current Questions</label>
        <input type="text" class="form-control" value="01" readonly>
    </div>
    <div class="form-group p-2">
        <label for="name" class="text-white mb-2">Marks</label>
        <div class="d-flex justify-content-start" style="cursor: pointer;"> 
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" id="btnGroupAddon" style="background-color:#B6B6B6 ;width: 50px;"><span class="material-icons">add</span></div>
                </div>
                <input type="text" class="input-group-text" value="01"  style="width: 50px;" >
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" id="btnGroupAddon" style="background-color:#B6B6B6 ;width: 50px;"><span class="material-icons">remove</span></div>
                </div>
                <input type="text" class="input-group-text" value="01"  style="width: 50px;" >
              </div>
        </div>
    </div>
    <div class="form-group p-2">
        <label for="name" class="text-white mb-2">Select Level</label>
        <select class="form-select" aria-label="Default select example">
            <option selected> Difficulty </option>
          </select>
    </div>
     </div>
     <div class="col-lg-9 mt-5 ">
         <div class="d-flex justify-content-start">
             <h3 class="fw-bold">Question Details </h3>
         <div class="btn  btn-sm  me-4 mx-3" style="height:30px ;background-color: #35B18A; color:#fff;" routerLink=""> Upload Image</div>
         
         </div>
         <div class="btn  btn-sm  me-4 mx-3 float-end shadow"style="height:30px ;background-color:#fff;" [routerLink]="['/home/questions']"> Select Questions </div>
         <div class="main-body w-100  rounded-3 p-3  bg-white mt-5  " style="height:auto ; border:1px solid #EEEEEE;">
             <ckeditor
         [(ngModel)]="ckeditorContent">
           <ckbutton [name]="'saveButton'"
             [command]="'saveCmd'"
             (click)="save($event)"
             [icon]="'save.png'"
             [label]="'Save Document'"
             [toolbar]="'clipboard,1'">
           </ckbutton>
       </ckeditor>
       <div>
         <h3 class="mx-5 mt-3">Correct Answer</h3>
         <div class="d-flex justify-content-start">
             <div class="form-group " >
                 <button type="button" class="btn text-white" style="background-color:#313D9C;">01</button>
             </div>&nbsp;&nbsp;
             <div class="form-group w-100">
                 <input type="text" class="form-control">
             </div>
         </div>
       </div>
         </div> 
         <div class="d-flex float-end mt-3">
             <div class="form-group " >
                 <button type="button" class="btn text-white shadow" style="background-color:#2AB2A6;">Save</button>
             </div>
             <div class="form-group mx-2 " >
                 <button type="button" class="btn text-white shadow" style="background-color:#2AB2A6;">Save & Next </button>
             </div>
         </div>
         
     </div>
 
 </div>
 
