<!-- **************** MAIN CONTENT START **************** -->
<main>
	
    <!-- =======================
    Page Banner START -->
    <section class="pt-5 pb-0" style="background-image:url(assets/images/element/map.svg); background-position: center left; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-6 text-center mx-auto">
                    <!-- Title -->
                    <h6 class="text-primary">Contact us</h6>
                    <h1 class="mb-4" style="color:#2AB2A6">We're here to help!</h1>
                </div>
            </div>
            
            <!-- Contact info box -->
            <div class="row g-4 g-md-5 mt-0 mt-lg-3">
                <!-- Box item -->
                <div class="col-lg-4 mt-lg-0">
                    <div class="card card-body shadow py-5 text-center h-100" style="background-color:#444cae;">
                        <!-- Title -->
                        <h5 class="text-white mb-3">Customer Support</h5>
                        <ul class="list-inline mb-0">
                            <!-- Address -->
                            <li class="list-item mb-3">
                                <a href="#" class="text-white"> <i class="fas fa-fw fa-map-marker-alt me-2 mt-1"></i>Hi-tech City, Hyderabad 500081</a>
                            </li>
                            <!-- Phone number -->
                            <li class="list-item mb-3">
                                <a href="#" class="text-white"> <i class="fas fa-fw fa-phone-alt me-2"></i>7330611818</a>
                            </li>
                            <!-- Email id -->
                            <li class="list-item mb-0">
                                <a href="#" class="text-white"> <i class="far fa-fw fa-envelope me-2"></i>support@edutechex.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
    
                <!-- Box item -->
                <div class="col-lg-4 mt-lg-0">
                    <div class="card card-body shadow py-5 text-center h-100">
                        <!-- Title -->
                        <h5 class="mb-3">Contact Address</h5>
                        <ul class="list-inline mb-0">
                            <!-- Address -->
                            <li class="list-item mb-3 h6 fw-light">
                                <a href="#"> <i class="fas fa-fw fa-map-marker-alt me-2 mt-1"></i>Hi-tech City, Hyderabad 500081</a>
                            </li>
                            <!-- Phone number -->
                            <li class="list-item mb-3 h6 fw-light">
                                <a href="#"> <i class="fas fa-fw fa-phone-alt me-2"></i>7330611818</a>
                            </li>
                            <!-- Email id -->
                            <li class="list-item mb-0 h6 fw-light">
                                <a href="#"> <i class="far fa-fw fa-envelope me-2"></i>office@edutechex.com <p class="ps-4">edutechex@gmail.com</p> </a>
                            </li>
                        </ul>
                    </div>
                </div>
    
                <!-- Box item -->
                <div class="col-lg-4 mt-lg-0">
                    <div class="card card-body shadow py-5 text-center h-100">
                        <!-- Title -->
                        <h5 class="mb-3">Office Address</h5>
                        <ul class="list-inline mb-0">
                            <i class="fas fa-fw fa-map-marker-alt me-2 mt-1"></i>
                            <!-- Address -->
                            <li class="list-item mb-3 h6 fw-light">
                                <p class="mt-2">EDUTECHEX GLOBAL</p>
                                <p>AITECHEX Quantum Innovative Solutions Pvt. Ltd.<br>
                                    Hi-tech City, Hyderabad, Telangana 500081, India
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->
    
    <!-- =======================
    Image and contact form START -->
    <section >
        <div class="container">
            <div class="row g-4 g-lg-0 align-items-center">
    
                <div class="col-md-6 align-items-center text-center">
                    <!-- Image -->
                    <img src="https://eduport.webestica.com/assets/images/element/contact.svg" class="h-400px" alt="">
                </div>
    
                <!-- Contact form START -->
                <div class="col-md-6">
                    <!-- Title -->
                    <h2 class="mt-4 mt-md-0" style="color:#2AB2A6">Let's talk</h2>
                    <p>To request information regarding any course or product, contact us directly or fill out the form and we will get back to your promptly</p>
                        
                    <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
                        <!-- Name -->
                        <div class="mb-4 bg-light-input">
                            <label for="yourName" class="form-label">Your name *</label>
                            <input type="text" class="form-control form-control-lg" formControlName="name" id="yourName" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="mb-4 bg-light-input">
                            <label for="emailInput" class="form-label">Email address *</label>
                            <input type="email" class="form-control form-control-lg" formControlName="email" id="emailInput" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                        </div>
                         <!-- Phone No -->
                         <div class="mb-4 bg-light-input">
                            <label for="emailInput" class="form-label">Phone No *</label>
                            <input type="email" class="form-control form-control-lg" formControlName="mobile" id="emailInput" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }">
                            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                <div *ngIf="f.mobile.errors.required">Phone no is required</div>
                            </div>
                        </div>
                        <!-- Message -->
                        <div class="mb-4 bg-light-input">
                            <label for="textareaBox" class="form-label">Message *</label>
                            <textarea class="form-control" formControlName="message" id="textareaBox" rows="4"></textarea>
                        </div>
                        <!-- Button -->
                        <div class="d-grid">
                            <button class="btn btn-lg mb-0 text-white" style="background-color: #444cae;">Send Message</button>
                        </div>	
                    </form>
                </div>
                <div class="backdrop" [ngStyle]="{'display':display}"></div>
                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content card shadow-lg p-3 mb-5 bg-body rounded">
                            <!-- <div class="modal-header">
                            <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Model Title</h4>
                            </div> -->
                            <div class="modal-body text-center text-success">
                                <h4 *ngIf="submitted">{{sumbmitMessage}}</h4>
                                <p>Your message has been successfully sent. We will contact you very soon!</p>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal !-->
                <!-- Contact form END -->
            </div>
        </div>
    </section>
    <!-- =======================
    Image and contact form END -->
    
    <!-- =======================
    Map START -->
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <iframe class="w-100 h-400px rounded" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15225.207053081025!2d78.3835095!3d17.4452651!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2fa1a45a1ad651dd!2sEduTechEx%20Global!5e0!3m2!1sen!2sin!4v1659180639197!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>	
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Map END -->
    
</main>
<!-- **************** MAIN CONTENT END **************** -->