.custom-css{
  object-fit: cover;
}
/* .custom-bg{
  background-image: url('assets/home/Banner 07.jpg');
} */
@media (max-width:830px){
  /* .Mapping{
    margin-top: 15px;
  } */
  .navigate h4{
    margin-left: -20px;
    margin-top: 10px;
    font-size: 20px;
  }
  .navigate p{
    margin-left: -20px;
    font-size:15px!important;
  }
  .navigate a{
    margin-left: -20px;
  }
  .Mapping h4{
    margin-left: -20px;
    margin-top: 10px;
    font-size: 20px;
  }
  .Mapping p{
    margin-left: -20px;
    font-size:15px!important;
  }
  .Mapping a{
    margin-left: -20px;
  }
}

.custom-card .face{
  position: absolute;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: 0.5s;
  backface-visibility: hidden;
}

.custom-card .face.front-face,
.custom-card .face.back-face {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-card:hover .face.front-face {
  transform: rotateY(180deg);
}

.custom-card .face.back-face {
  position: absolute;
  background: rgba(255, 255, 255, 0.06);
  transform: rotateY(180deg);
  text-align: center;
  user-select: none;
}

.custom-card:hover .face.back-face {
  transform: rotateY(360deg);
}

