<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 main-banner d-flex justify-content-center align-items-center">
            <img src="assets/login-page.svg" alt="Responsive image" class="img-fluid" >
        </div>
        <div class="col-lg-5">
            <form class="w-100 vh-100 mt-0" style="background-color:#313d9c ;padding:130px 70px; color:#fff; ">
                <img src="assets/edutech.png" alt="logo1" width="244" height="60" class="img-fluid d-block m-auto mb-2">
                <h1 class="d-flex justify-content-center align-items-center w-100 mt-0">Welcome Back</h1>
                <div class="mb-4">
                  <label for="exampleInputEmail1" class="form-label ">Email Id</label>
                  <input type="email" class="form-control bg-transparent" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control bg-transparent" id="exampleInputPassword1" placeholder="Enter Password" required>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input bg-transparent border" id="exampleCheck1">
                  <label class="form-check-label " for="exampleCheck1">Keep me logged in</label>
                  <label class="float-end">Forgot Password?</label>
                </div>
                <div class="mt-5">
                    <button type="submit" class="btn form-control bg-light text-primary">Login</button>
                  </div>
                
              </form>
        </div>
    </div>
</div>