<div class="dashboard overflow-hidden">
    <div class="mx-5 ">
        <h3 class="fw-bold  mt-5 fs-4 ">Dashboard</h3>
        <!-- <div class="row ">
            <div class="col-lg-7 position-relative  d-flex justify-content-center align-items-right">
                <div class="text-field text-white px-3 rounded rounder-5" style="background-color:#313D9C ; height: 200px;">
                    <div class="mt-4">
                    <h4>Hi Venkat!</h4>
                    <h2>Welocome to Edutechex</h2>
                    <p style=" width: 80%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quos assumenda, suscipit aut temporibus alias eligendi. Amet nesciunt consequuntur ipsum.</p>
                </div>
                </div>
                <img src="assets/login/image 2.svg" alt="image" class="position-absolute" style="margin-left: 500px ;margin-top: -67px; width: 267px;">
            </div>
            <div class="col-lg-5">
                
            </div>
        </div> -->
        <div class="row mt-5">
            <div class="col-lg-3 d-flex justify-content-center   border border-2 rounded-4 bg-white ">
                <mat-icon style="background-color: #E1F8FF; ">
                    <div class="mt-3">account_box</div>
                </mat-icon>
                <div class="mx-2 mt-3">
                    <h3> <span class="fw-bold">35</span><br>
                        Total Teachers</h3>
                </div>
            </div>
            <div class="col-lg-3 d-flex justify-content-center  border border-2 rounded-4 bg-white  ">
                <mat-icon style="background-color: #A7E0DA; ">
                    <div class="mt-3">account_box</div>
                </mat-icon>
                <div class="mx-2 mt-3">
                    <h3> <span class="fw-bold">500</span><br>
                        Total Students</h3>
                </div>
            </div>
            <div class="col-lg-3 d-flex justify-content-center  border border-2 rounded-4 bg-white">
                <mat-icon style="background-color: #FBEBB8; ">
                    <div class="mt-3">account_box</div>
                </mat-icon>
                <div class="mx-2 mt-3">
                    <h3> <span class="fw-bold">4</span><br>
                        Exams(Week)</h3>
                </div>
            </div>
            <div class="col-lg-3 d-flex justify-content-center  border border-2 rounded-4 bg-white  ">
                <mat-icon style="background-color: #F3F8B4; ">
                    <div class="mt-3">account_box</div>
                </mat-icon>
                <div class="mx-2 mt-3">
                    <h3> <span class="fw-bold">&#x20B9; 4,500</span><br>
                        Total Income</h3>
                </div>

            </div>
        </div>
        <div class="row mt-4 ">
            <div class="col-sm-5 border border-2 rounded-4 bg-white p-4">
                <div class="row">
                    <div class="col-sm-3">
                        <h3>No. Of Tests</h3>
                        <!-- piechart start -->
                    <canvas style="width:150px ;"
                     baseChart 
                     [labels]="doughnutChartLabels"
                     [datasets]="doughnutChartDatasets"
                     [options]="doughnutChartOptions"
                     [legend]="true" 
                     [type]="'doughnut'">
                    </canvas>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-7 ps-2 ">
                        <div class="d-flex justify-content-between">
                        <div class="dropdown " style="background-color: rgba(12, 5, 7, 0.05); width: 100px ;height:35px;">
                            <button class="btn  dropdown-toggle fw-bold" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                              Internal
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                              <button class="dropdown-item" type="button">External</button>
                            </div>
                          </div>
                          <div class="dropdown float-end" style="background-color: transparent; width: 100px ;height:35px;">
                            <button class="btn  dropdown-toggle fw-bold" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                              Jan, 2022
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                              <button class="dropdown-item" type="button">External</button>
                            </div>
                          </div>
                        </div>
                          <div class="row">
                            <div class="col-sm-6 d-flex justify-content-center align-items-center">
                                <div style="background-color: #FBEBB8; width: 20px; height: 20px; border-radius: 50%;">
                                    <div class="mt-3">.</div>
                                </div>
                                <div class="mx-2 mt-3">
                                
                                        <h3>Mock Tests</h3>
                                        <span class="fw-bold">35</span>
                                </div>
                            </div>
                            <div class="col-sm-6 d-flex justify-content-center align-items-center">
                                <div style="background-color:  #99CCC7;width: 20px; height: 20px; border-radius: 50%;">
                                    <div class="mt-3"></div>
                                </div>
                                <div class="mx-2 mt-3">
                                   
                                        <h3>Subject Tests</h3>
                                        <span class="fw-bold">24</span>
                                </div>
                            </div>
                            <div class="col-sm-7  d-flex justify-content-center align-items-center">
                                <div style="background-color: #E1F8FF; width: 20px; height: 20px; border-radius: 50%;">
                                    <div class="mt-3">.</div>
                                </div>
                                <div class="mx-2 mt-3">
                                        <h3 class="">TopicWise Tests</h3>
                                        <span class="fw-bold">23</span>
                                </div>
                            </div>
                          </div>
                    </div>
                    
                </div>
            </div>
            <!-- <div class="col-sm-1"></div> -->
            <div class="col-sm-6 rounded-4 border border-2 h-100  bg-white p-3 ms-5">
                <canvas baseChart class="chart" style="width:100%;"
                    [data]="barChartData"
                   
                
                    [type]="'bar'">
                </canvas>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-9 rounded-4 border border-2 h-100  bg-white">
                <h2>Payments</h2>
                <table class="table  ">
                    
                    <thead class=" ">
                      <tr class="fw-bold">
                        <th scope="col">Student Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Internal/External</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody class="fw-bold">
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>5,447.00</td>
                        <td><button style="background-color: #A7E0DA; border:none;border-radius:10px;width:70px; height:35px ;font-weight:bold;">Paid</button></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>4,965.00</td>
                        <td><button style="background-color:  #FBEBB8; border:none;border-radius:10px;width:90px; height:35px; font-weight:bold;">Pending</button></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>5,875.00</td>
                        <td><button style="background-color: #A7E0DA; border:none;border-radius:10px;width:70px; height:35px; font-weight:bold;">Paid</button></td>
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
            <div class="col-lg-3  border border-2 rounded-4 bg-white p-4 h-100">
                <h3>Students Tasks Assigned</h3>
                <!-- piechart start -->
            <canvas style="width:150px ;"
             baseChart 
             [labels]="doughnutChartLabels1"
              [datasets]="doughnutChartDatasets1"
            [options]="doughnutChartOptions1"
             [legend]="true"
              [type]="'doughnut'">
            </canvas>
            </div>
        </div>
        <div class="row  my-5">
            <div class="col-lg-9 border border-2 rounded-4 bg-white p-4 ">
                <div class=" d-flex justify-content-between">
                   
                        <h2>Promotionals</h2>
                    
                   <div class="input-group w-50">
                    <input type="search" class="form-control" placeholder=" Enter any Updates">
                    <button type="button" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                      </button>
                   </div>
                </div>
                <div class="mt-3" >
                    <p class="fw-bold">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, dolorem.consectetur adipisicing elit.</p>
                    <span>December 23, 2022 ,</span> <span>5min ago</span>
                </div>
                <div class="mt-3">
                    <p class="fw-bold">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, dolorem.consectetur adipisicing elit.</p>
                    <span>December 23, 2022 ,</span> <span>5min ago</span>
                </div>
            </div>
        </div>


    </div>