@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.dashboard{
    font-family: 'Poppins', sans-serif;
    background-color: #F5F8FF;
}
mat-icon{
    width:60px;
    height:60px;
    border-radius:50% ;
    text-align:center;
    align-items: center;
}
.row .col-lg-3{
    width: 264px;
    height: 130px;
    margin: 10px;
    align-items: center;
}
.col-sm-6 h3{
    font-size: 12px;
}
.col-sm-7 h3{
    font-size: 12px;
}
canvas .labels{
    color: red;
}

/* canvas{
    background-color: red;
} */