<div class="dashboard overflow-hidden">
    <div class="mx-3 ">
      <div class="d-flex">
        <h3 class="fw-bold  mt-5 fs-4 ">Assessment Modules</h3> 
      </div>
        <div class="main-body w-100  d-flex align-items-center justify-content-center flex-column   bg-white" style="height:75vh ;">
            <img src="assets/assessment.svg" alt="assessment" >
            <h2>Looks Like you have not added any Assessment Module yet.. !</h2> 
            <p>Need to Assessment Modules , Click on Create Mock Test button </p>
            <div class="btn  btn-sm me-4 fw-bold " style="height:30px ;background-color: #35B18A; color:#fff;" routerLink="/home/create-assessment-module">+ Create Assessment Module </div>
        </div>
       
    </div>
    
</div>



