<!-- <div class="col-lg-10"> -->
    <div class="d-flex mb-5 justify-content-between align-items-center">
        <h3 class="fw-bold  mt-5 fs-4 ">Manage Currciculum</h3> 
        <div class="search-container">
          <form action="/action_page.php" class="mt-5 d-flex">
            <input type="text" placeholder="Search.." name="search" style="width:400px ; border: 1px solid rgba(0,0,0,0.2);">
            <mat-icon>search</mat-icon>
          </form>
        </div>
        <div class="btn  btn-sm mt-5 me-4 fw-bold" style="height:30px ;background-color: #35B18A; color:#fff;">Add Currciculum</div>
      </div>
        
        <!-- data tables start -->
        <div class="bg-white w-auto p-2 border">
        <table #dataTable class="display cellborder" >
            <thead>
              <tr>
                <th class="th-sm">Segement Name
                </th>
                <th class="th-sm">Image
                </th>
                <th class="th-sm">Featured
                </th>
                <th class="th-sm">Action
                </th>
                
              </tr>
            </thead>
           <tbody></tbody>
            <tfoot>
              <tr>
                <th>Segement Name
                </th>
                <th>Image
                </th>
                <th>Featured
                </th>
                <th>Action
                </th>
                
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- data tables end -->
<!-- </div> -->


