<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Page Banner START -->
    <section class="py-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="p-4 text-center rounded-3" style="background-color: #444cae;">
                        <h1 class="text-white m-0">Register For Test</h1>
                        <!-- Breadcrumb -->
                        <div class="d-flex justify-content-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-dark breadcrumb-dots mb-0">
                                    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Register for Test</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->

    <!-- =======================
    Inner part START -->
    <section class="pt-4">
        <div class="container">
            <!-- stepper start -->
            <div class="row">
                <div class="col-lg-6 col-xl-6">
                    <div class="container py-5">

                        <div class="row">
                            <div class="col-md-12 col-md-offset-3">
                                <form [formGroup]="personalDetails" id="msform" (ngSubmit)="onSubmit()">
                                    <!-- progressbar -->
                                    <ul id="progressbar">
                                        <li [ngClass]="step>=1 ? 'active ' : 'inactive'" class="text-dark fs-6">Fill Out Your
                                            Details</li>
                                        <li [ngClass]="step>=2 ? 'active' : 'inactive'" class="text-dark fs-6">Fill Out Your
                                            Test</li>
                                        <!-- <li [ngClass]="step==3 ? 'active' : 'inactive'">Account Setup</li> -->
                                    </ul>
                                    <!-- fieldsets -->
                                    <fieldset *ngIf="step == 1" class="mx-1">
                                        <h2 class="">Personal Details</h2>
                                        <!--First  Name -->
                                        <div class="mb-3 bg-light-input">
                                            <!-- <label for="yourName" class="form-label">Your name *</label> -->
                                            <input type="text" class="form-control" formControlName="fname"
                                                id="yourfName" placeholder="First Name"
                                                [ngClass]="{ 'is-invalid': submitted && f.fname.errors }">
                                            <div *ngIf="submitted && f.fname.errors"
                                                class="invalid-feedback text-start">
                                                <div *ngIf="f.fname.errors.required">First Name is required</div>
                                            </div>
                                        </div>
                                        <!--Last  Name -->
                                        <div class="mb-3 bg-light-input">
                                            <!-- <label for="yourName" class="form-label">Your name *</label> -->
                                            <input type="text" class="form-control" formControlName="lname"
                                                id="yourlName" placeholder="Last Name"
                                                [ngClass]="{ 'is-invalid': submitted && f.lname.errors }">
                                            <div *ngIf="submitted && f.lname.errors"
                                                class="invalid-feedback text-start">
                                                <div *ngIf="f.lname.errors.required">Last Name is required</div>
                                            </div>
                                        </div>
                                        <!-- Phone No -->
                                        <div class="mb-3 bg-light-input">
                                            <!-- <label for="emailInput" class="form-label">Phone No *</label> -->
                                            <input type="text" class="form-control" formControlName="phone"
                                                id="phoneNumber" placeholder="Phone number"
                                                [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                                            <div *ngIf="submitted && f.phone.errors"
                                                class="invalid-feedback text-start">
                                                <div *ngIf="f.phone.errors.required">Phone is required</div>
                                            </div>
                                        </div>
                                        <!-- Email -->
                                        <div class="mb-3 bg-light-input">
                                            <!-- <label for="emailInput" class="form-label">Email address *</label> -->
                                            <input type="email" class="form-control" formControlName="email"
                                                id="emailInput" placeholder="Email"
                                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                            <div *ngIf="submitted && f.email.errors"
                                                class="invalid-feedback text-start">
                                                <div *ngIf="f.email.errors.required">Email is required</div>
                                            </div>
                                        </div>
                                        <!-- <input (click)="next()" type="button" name="next" class="next action-button" value="Next"/> -->
                                        <button class="btn mb-0 text-white"
                                            style="background-color: #444cae;">Next</button>
                                    </fieldset>
                                </form>
                                <form [formGroup]="testDetails" id="msform" (ngSubmit)="onSubmitTest(val3)">
                                    <!-- progressbar -->

                                    <!-- fieldsets -->
                                    <fieldset *ngIf="step == 2" class="mx-1">
                                        <h2 class="">Test Details</h2>
                                        <div class="">
                                            <!--Segement  Name -->
                                            <div class="mb-3 bg-light-input">
                                                <select class="form-select form-control"
                                                    (change)="onSelectSegment(val.value)" #val
                                                    aria-label="Default select example" formControlName="segement"
                                                    id="segement"
                                                    [ngClass]="{ 'is-invalid': submitted1 && g.segement.errors }">
                                                    <option value="">Select Segement </option>
                                                    <option *ngFor="let item of allListRegisterForTest"
                                                        [value]="item?.segment_id">
                                                        <ng-container>
                                                            {{item?.segment_name}}
                                                        </ng-container>
                                                    </option>
                                                </select>
                                                <div *ngIf="submitted1 && g.segement.errors"
                                                    class="invalid-feedback text-start">
                                                    <div *ngIf="g.segement.errors.required">Segement is required</div>
                                                </div>
                                                <!-- <div class="invalid-feedback" *ngIf="submitted1 && g.segement.errors?.required">
                                      <sup>*</sup>Please enter your city name
                                    </div> -->
                                            </div>
                                            <!--Grade  Name -->
                                            <div class="mb-3 bg-light-input">
                                                <select class="form-select form-control"
                                                    (change)="onSelectGrade(val1.value)" #val1
                                                    aria-label="Default select example" formControlName="grade"
                                                    id="grade"
                                                    [ngClass]="{ 'is-invalid': submitted1 && g.grade.errors }">
                                                    <option value="">Select Grade </option>
                                                    <option *ngFor="let grade of allGeadeList "
                                                        [value]="grade?.grade_id">
                                                        <ng-container>
                                                            {{ grade?.grade_name }}
                                                        </ng-container>
                                                        <!-- <div *ngIf="grade?.siShow">
                                            {{grade?.grade_name}}
                                        </div> -->
                                                    </option>
                                                </select>
                                                <div *ngIf="submitted1 && g.grade.errors"
                                                    class="invalid-feedback text-start">
                                                    <div *ngIf="g.grade.errors.required">Grade is required</div>
                                                </div>
                                            </div>


                                            <!--Stream  Name -->
                                            <div class="mb-3 bg-light-input">
                                                <select class="form-select form-control"
                                                    (change)="onSelectStream(val2.value)" #val2
                                                    aria-label="Default select example" formControlName="stream"
                                                    id="stream"
                                                    [ngClass]="{ 'is-invalid': submitted1 && g.stream.errors }">
                                                    <option value="">Select Stream </option>
                                                    <option *ngFor="let allStreams of allStreamList"
                                                        [value]="allStreams?.stream_id">
                                                        <ng-container>
                                                            {{allStreams?.stream_name}}
                                                        </ng-container>
                                                    </option>
                                                </select>
                                                <div *ngIf="submitted1 && g.stream.errors"
                                                    class="invalid-feedback text-start">
                                                    <div *ngIf="g.stream.errors.required">Stream is required</div>
                                                </div>
                                            </div>

                                            <!--Branch  Name -->
                                            <div class="mb-3 bg-light-input">
                                                <select class="form-select form-control"
                                                    aria-label="Default select example"
                                                    (change)="onSelectBranch(val3.value)" #val3 formControlName="branch"
                                                    id="branch" [ngClass]="{ 'is-invalid': submitted1 && g.branch.errors }">
                                                    <option value="">Select Branch </option>
                                                    <option *ngFor="let allBranch of allbranchList" [value]="allBranch?.branch_id">
                                                        <ng-container>
                                                            {{allBranch?.branch_name}}
                                                        </ng-container>
                                                    </option>
                                                </select>
                                                <div *ngIf="submitted1 && g.branch.errors"
                                                    class="invalid-feedback text-start">
                                                    <div *ngIf="g.branch.errors.required">Branch is required</div>
                                                </div>
                                            </div>

                                            <!--Region  Name -->
                                            <div class="mb-3 bg-light-input">
                                                <select class="form-select form-control"
                                                    aria-label="Default select example" formControlName="region"
                                                    id="region"
                                                    [ngClass]="{ 'is-invalid': submitted1 && g.region.errors }">
                                                    <option value="">Select Region </option>
                                                    <option value="PAN INdia">PAN India</option>
                                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                    <option value="Assam">Assam</option>
                                                    <option value="Bihar">Bihar</option>
                                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                                    <option value="Gujarat">Gujarat</option>
                                                    <option value="Haryana">Haryana</option>
                                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                    <option value="Jharkhand">Jharkhand</option>
                                                    <option value="Karnataka">Karnataka</option>
                                                    <option value="Kerala">Kerala</option>
                                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                    <option value="Maharashtra">Maharashtra</option>
                                                    <option value="Manipur">Manipur</option>
                                                    <option value="Meghalaya">Meghalaya</option>
                                                    <option value="Mizoram">Mizoram</option>
                                                    <option value="Nagaland">Nagaland</option>
                                                    <option value="Odisha">Odisha</option>
                                                    <option value="Punjab">Punjab</option>
                                                    <option value="Rajasthan">Rajasthan</option>
                                                    <option value="Sikkim">Sikkim</option>
                                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                                    <option value="Telangana">Telangana</option>
                                                    <option value="Tripura">Tripura</option>
                                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                    <option value="Uttarakhand">Uttarakhand</option>
                                                    <option value="West Bengal">West Bengal</option>


                                                </select>
                                                <div *ngIf="submitted1 && g.region.errors"
                                                    class="invalid-feedback text-start">
                                                    <div *ngIf="g.region.errors.required">Region is required</div>
                                                </div>
                                            </div>
                                            <!-- <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous"/> -->
                                            <button class="btn mb-0 text-white mx-2" style="background-color: #444cae;"
                                                (click)="previous()">Previous</button>
                                            <!-- <input (click)="onSubmitTest()" type="button" name="next" class="next action-button" value="Next"/> -->
                                            <button class="btn mb-0 text-white"
                                                style="background-color: #444cae;">Submit</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-6 mt-5 mt-lg-5">
                    <img src="assets/banner-03-edit.png" alt="" class="w-100">
                </div>
            </div>
            <!-- stepper end -->
        </div>
    </section>
    <!-- =======================
    Inner part END -->
    <!-- <div *ngFor="let test of allListRegisterForTest">
        <div *ngFor="let test1 of test['grade']">
            {{test1?.stream}}
        </div>
     </div>

     {{selectedStreamName}} -->


</main>
<!-- **************** MAIN CONTENT END **************** -->