<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Page Banner START -->

    <section class="py-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="p-4 text-center rounded-3" style="background-color: #444cae;">
                        <h1 class="text-white m-0">Register For Test</h1>
                        <!-- Breadcrumb -->
                        <div class="d-flex justify-content-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-dark breadcrumb-dots mb-0">
                                    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                                    <li class="breadcrumb-item "><a routerLink="/register-for-test">Register for
                                            Test</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">All Tests</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->

    <!-- =======================
    Page content START -->
    <section class="py-5">
        <div class="container">
            <!-- filter start -->
            <form [formGroup]="testDetails" id="msform" (ngSubmit)="onSubmitTest(val3)">
                <div class="row d-flex justify-content-evenly mb-5 mx-5">
                    <div class="col">
                        <select class="form-select form-control" (change)="onSelectSegment(val.value)" #val
                            aria-label="Default select example" formControlName="segement" id="segement">
                            <option value="">Select Segement </option>
                            <option *ngFor="let item of allListRegisterForTest" [value]="item?.segment_id">
                                <ng-container>
                                    {{item?.segment_name}}
                                </ng-container>
                            </option>
                        </select>
                    </div>

                    <div class="col">
                        <select class="form-select form-control" (change)="onSelectGrade(val1.value)" #val1
                            aria-label="Default select example" formControlName="grade" id="grade">
                            <option value="">Select Grade </option>
                            <option *ngFor="let grade of allGeadeList " [value]="grade?.grade_id">
                                <ng-container>
                                    {{ grade?.grade_name }}
                                </ng-container>
                                <!-- <div *ngIf="grade?.siShow">
                {{grade?.grade_name}}
            </div> -->
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select form-control" (change)="onSelectStream(val2.value)" #val2
                            aria-label="Default select example" formControlName="stream" id="stream">
                            <option value="">Select Stream </option>
                            <option *ngFor="let allStreams of allStreamList" [value]="allStreams?.stream_id">
                                <ng-container>
                                    {{allStreams?.stream_name}}
                                </ng-container>
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select form-control" aria-label="Default select example"
                            (change)="onSelectBranch(val3.value)" #val3 formControlName="branch" id="branch">
                            <option value="">Select Branch </option>
                            <option *ngFor="let allBranch of allbranchList" [value]="allBranch?.branch_id">
                                <ng-container>
                                    {{allBranch?.branch_name}}
                                </ng-container>
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select form-control"
                        aria-label="Default select example" formControlName="region"
                        id="region">
                        <option value="">Select Region </option>
                        <option value="PAN INdia">PAN India</option>
                        <option value="Andhra Pradesh" id="test1" >Andhra Pradesh</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>


                    </select>
                    </div>
                    <div class="col">
                        <button class="btn mb-0 text-white" style="background-color: #444cae;">Submit</button>
                    </div>
                    <div class="col">
                        <button class="btn mb-0 text-white" style="background-color: #444cae;" (click)="clearFunction()" >Clear All</button>
                    </div>
                </div>
                
            </form>
            <!-- filter end -->
            <div class="row">
                <!-- Main content START -->
                <div class="col-12">

                    <!-- Search option START -->
                    <div class="row mb-4 align-items-center">

                        <!-- Title -->
                        <div class="col-sm-6 col-xl-6 mt-3 mt-lg-0">
                            <h5 class="mb-0">All Tests</h5>
                        </div>
                    </div>
                    <!-- Search option END -->

                    <!-- all test List start -->
                    <div>
                        <div class="row g-4">
                            <ng-container *ngFor="let data of registerForTest ; let i=index"
                                class="col-sm-6 col-lg-4 col-xl-3">
                                <!-- Card item START -->
                                <div *ngIf="i<20" class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="card shadow h-100">
                                        <!-- Image -->
                                        <img [src]="data?.image" class="card-img-top" alt="course image">
                                        <!-- Card body -->
                                        <div class="card-body pb-0">
                                            <!-- Badge and favorite -->
                                            <div class="d-flex justify-content-between mb-2">
                                                <a class="badge bg-purple bg-opacity-10 text-purple">All level</a>
                                                <a class="h6 fw-light mb-0"><i class="far fa-heart"></i></a>
                                            </div>
                                            <!-- Title -->
                                            <h5 class="card-title overflow-hidden"
                                                style="text-overflow: ellipsis;white-space: nowrap;">
                                                <a>{{data.test_name}}</a>
                                            </h5>
                                            <p class="mb-2 text-truncate-2">
                                                {{data.details}}
                                            </p>
                                        </div>
                                        <!-- Card footer -->
                                        <div class="card-footer pt-0 pb-3">
                                            <hr>
                                            <div class="">
                                                <!-- <span class="h6 fw-light mb-0">
                                                    {{subMenuItem?.price}}
                                                    <span class="text-decoration-line-through">{{subMenuItem?.discount}}</span> <br>
                                                    <span class="badge bg-success text-white">20% off</span>
                                                </span> -->
                                                <span class="h6 fw-light mb-0">
                                                    <a [attr.href]="data?.url" target="_blank">
                                                        <!-- <i class="fas fa-arrow-right me-2 rounded-circle text-white p-2"
                                                            style="background-color:#444cae"></i> -->
                                                        <button class="btn btn-primary form-control">Test
                                                            Details</button>
                                                    </a>

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card item END -->
                            </ng-container>

                        </div>
                    </div>
                    <!-- all test List end -->

                </div>
                <!-- Main content END -->
            </div><!-- Row END -->
        </div>
    </section>
    <!-- =======================
    Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->