<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Page Banner START -->

    <section class="py-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="p-4 text-center rounded-3" style="background-color: #444cae;">
                        <h1 class="text-white m-0">Register For Test</h1>
                        <!-- Breadcrumb -->
                        <div class="d-flex justify-content-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-dark breadcrumb-dots mb-0">
                                    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                                    <li class="breadcrumb-item "><a routerLink="/register-for-test">Register for Test</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">All Tests</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->
    
    <!-- =======================
    Page content START -->
    <section class="py-5">
        <div class="container">
            <!-- filter start -->
           <div class="row d-flex justify-content-evenly mb-5 mx-5">
            <div class="col">
                <div class="dropdown">
                    <a class="btn border border-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown link
                    </a>
                  
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </div>
            
            <div class="col">
                <div class="dropdown">
                    <a class="btn border border-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown link
                    </a>
                  
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <a class="btn border border-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown link
                    </a>
                  
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <a class="btn border border-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown link
                    </a>
                  
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <a class="btn border border-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown link
                    </a>
                  
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary">Search</button>
            </div>
           </div>
            <!-- filter end -->
            <div class="row">
                <!-- Main content START -->
                <div class="col-12">
    
                    <!-- Search option START -->
                    <div class="row mb-4 align-items-center">
    
                        <!-- Title -->
                        <div class="col-sm-6 col-xl-6 mt-3 mt-lg-0">
                            <h5 class="mb-0">All Tests</h5>
                        </div>
                        
                          <!-- Select Segment option -->
                        <!-- <div class="col-sm-6 col-xl-3 mt-3 mt-lg-0">
                            <form class="border rounded p-2">
                                <select class="form-select form-select-sm js-choice input-borderless" (change)='onSelect(val.value)' #val>
                                    <option  value="null">Select Segment</option>
                                    <option *ngFor="let segmentItem of allSegmentList" [value]="segmentItem?.segment">
                                        <ng-container>
                                            {{segmentItem?.segment}}
                                        </ng-container>
                                    </option>
                                </select>
                            </form>
                        </div> -->
    
                        <!--  Select program  option -->
                        <!-- <div class="col-sm-6 col-xl-3 mt-3 mt-xl-0">
                            <form class="border rounded p-2">
                                <select class="form-select form-select-sm js-choice input-borderless" (change)='onSelectSub(val2.value)' #val2>
                                    <option  value="null"> Select program</option>
                                    <option *ngFor="let programItem of programList" [value]="programItem?.program_title">
                                        <ng-container>
                                            {{programItem?.program_title}}
                                        </ng-container>
                                    </option>
                                </select>
                            </form>
                        </div> -->

                    </div>
                    <!-- Search option END -->
                    
    
                    <!-- Book Grid START -->
                    <div class="row g-4">
                        <!-- Card item START -->
                        <div id="{{ i }}" *ngFor="let list of AllRegisterTestList; let i = index" class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="card shadow h-100">
                                <div class="position-relative">
                                    <!-- Image -->
                                    <img [src]="list?.image" class="card-img-top" alt="book image">
                                    <!-- Overlay -->
                                    <div class="card-img-overlay d-flex z-index-0 p-3">
                                        <!-- Card overlay Top -->
                                        <div class="mb-auto d-flex justify-content-end">
                                            <!-- Card format icon -->
                                            <!-- <div class="icon-md bg-dark rounded-circle fs-5">
                                                <a href="#" class="text-white"><i class="bi bi-book"></i></a>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title text-truncate-2">{{list?.menuName}}</h5>
                                        <!-- <a>viewmore</a> -->
                                        <!-- <i class="fa-solid fa-ellipsis-vertical"></i> -->
                                       <!-- <a [routerLink]="[list?.link]"><i class='fas fa-ellipsis-v text-dark'  > </i></a>  -->
                                    </div>
                                    <span class="h6">{{list?.subTitle ? list?.subTitle : ''}}</span>
                                    <p class="card-text text-truncate-2">
                                        {{list?.details}}
                                    </p>
                                </div>

                                <div class="card-footer">
                                    <!-- <div class="d-flex justify-content-between align-items-center mb-3">
                                        Price
                                        <h5 class="mb-0">₹{{list?.variationCost}}</h5>
                                        <span class="text-decoration-line-through mb-0">₹{{list?.discount}}</span>
                                        <span class="badge bg-success text-white mb-0 ms-3">20% off</span>
                                    </div> -->
                                    <div class="d-grid mx-auto">
                                        <a  class="btn btn-success rounded-0 btn-sm">Test Start</a>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                    </div>
                    <!-- Book Grid END -->
                </div>
                <!-- Main content END -->
            </div><!-- Row END -->
        </div>
    </section>
    <!-- =======================
    Page content END -->
      
</main>
<!-- **************** MAIN CONTENT END **************** -->
