<!-- **************** MAIN CONTENT START **************** -->
<main>

      <!-- =======================
    Header START -->
    <section class="position-relative bg-light">
        <div class="container position-relative">
            <div class="row g-4 align-items-center">
                <div class="col-md-6 position-relative">
                    <!-- Pre title -->
                    <div class="d-flex align-items-center mb-4">
                        <div class="icon-md bg-body rounded-circle shadow fs-5 text-warning">
                            <i class="bi bi-lightbulb"></i>
                        </div>
                        <span class="h6 ms-3 mb-0">Navigate Your Future With Us</span>
                    </div>

                    <!-- Title -->
                    <h1 class="mb-3">
                        Get Mapped to Internships in Core Emerging Areas! 
                    </h1>
                    <p class="mb-4 lead">Find Internships aligned with Industry Requirement</p>

                    <!-- Search -->
                    <form class="bg-body rounded p-2">
                        <div class="input-group">
                            <input class="form-control border-0 me-1" type="search" placeholder="Job title, keywords, or company">
                            <button type="button" class="btn btn-primary mb-0 rounded"><i class="fas fa-search"></i></button>
                        </div>
                    </form>

                </div>
                
                <!-- Image -->
                <div class="col-md-6">
                    <img src="assets/banner-03-edit.png" class="" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Header END -->

    <!-- =======================
    Categories START -->
    <section>
        <div class="container">
            <!-- Title -->
            <div class="row mb-4">
                <div class="col-lg-8 mx-auto text-center">
                    <h2>Popular Job Categories</h2>
                    <p class="mb-0">Perceived end knowledge certainly day sweetness why cordially</p>
                </div>
            </div>

            <div class="row g-4">
                <!-- Item -->
                <div *ngFor="let item of allJobItems" class="col-sm-6 col-md-4 col-xl-3">
                    <div class="card shadow card-body text-center position-relative btn-transition p-4">
                        <!-- Image -->
                        <div class="icon-xl bg-body mx-auto rounded-circle mb-3">
                            <img [src]="item?.jobIcon" alt="">
                        </div>
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">{{item?.jobCategories}}</a></h5>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- =======================
    Categories END -->

    <!-- =======================
    Featured Jobs START -->
    <section class="pt-5">
        <div class="container">
            
            <!-- Title -->
            <div class="row mb-4">
                <div class="col-lg-8 mx-auto text-center">
                    <h2>Featured Job</h2>
                </div>
            </div>
            
            <!-- Course list START -->
            <div class="row g-4 justify-content-center">
    
                <!-- Card item START -->
                <div *ngFor="let list of jobList" class="col-lg-6 col-xxl-6">
                    <div class="card rounded overflow-hidden shadow">
                        <div class="card-body">
                            <!-- Title -->
                            <div class="d-flex justify-content-between mb-2">
                                <h5 class="card-title mb-0"><a href="#">{{list?.jobTitle}}</a></h5>
                                <!-- Wishlist icon -->
                                <a href="#"><i class="fas fa-heart text-danger"></i></a>
                            </div>
                            <!-- Content -->
                            <!-- Info -->
                            <ul class="list-inline mb-1">
                                <li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="far fa-clock me-2"></i>{{list?.jobExperience}}</li>
                                <li class="list-inline-item h6 fw-light mb-1 mb-sm-0"><i class="fas fa-map-marker  me-2"></i>{{list?.jobLocation}}</li>
                                <li class="list-inline-item h6 fw-light"><i class="fas fa-credit-card  me-2"></i>{{list?.jobPayment}}</li>
                            </ul>
                            <button type="button" class="btn btn-primary mb-0 rounded">Apply Now</button>
                        </div>
                    </div>
                </div>
                <!-- Card item END -->

            </div>
            <!-- Course list END -->

        </div>
    </section>
    <!-- =======================
    Featured Jobs END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->