<div class="navbar">
    <div class="top">
        <div class="logo" style="margin-top:-8px ;">
            <img src="assets/edutechex-logo.svg" alt="logo" style="margin:18px 0 0 25px;">
        </div>
    </div>
    <div class="menu-item">
        <button mat-button class="menu-button" [routerLink]="['/home/dashboard']">
            <span class="material-icons">
                grid_view
                </span>
            <span>Dashboard</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/home/mock-test']">
            <span class="material-icons">
                padding
                </span>
            <span>Mock Tests</span>
        </button>
        <button mat-button class="menu-button " [routerLink]="['/home/subject-test']">
            <span class="material-icons">
                padding
                </span>
            <span>Subject Tests</span>
        </button>
        <button mat-button class="menu-button " [routerLink]="['/home/topic-wise-test']">
            <span class="material-icons">
                padding
                </span>
            <span>Topic Wise Tests</span>
        </button>
        <button mat-button class="menu-button " [routerLink]="['/home/assign-tests']">
            <span class="material-icons">
                repeat
                </span>
            <span>Assign Tests </span>
        </button>
        <button mat-button class="menu-button " [routerLink]="['/home/questions']">
            <span class="material-icons">
                help_outline
                </span>
            <span>Questions</span>
        </button>
        <button mat-button class="menu-button " >
            <span class="material-icons">
                assignment
                </span>
            <span>Test Reports</span>
        </button>
        <button mat-button class="menu-button " [routerLink]="['/home/students']">
            <span class="material-icons">
                school
                </span>
            <span>Students</span>
        </button>
    </div>
</div>

