<div class="dashboard overflow-hidden">
    <div class="mx-3 ">
      <div class="d-flex mb-5">
        <h3 class="fw-bold  mt-5 fs-4 ">Payment</h3> 
        <div class="search-container" style=" margin-left:25%;">
          <form action="/action_page.php" class="mt-5 d-flex">
            <input type="text" placeholder="Search.." name="search" style="width:400px ; border: 1px solid rgba(0,0,0,0.2);">
            <mat-icon>search</mat-icon>
          </form>
        </div>
      </div>
        
        <!-- data tables start -->
        <div class="bg-white w-auto p-2 border">
        <table #dataTable class="display cellborder" >
            <thead>
              <tr>
                <th class="th-sm">Bill ID
                </th>
                <th class="th-sm">Transaction ID
                </th>
                <th class="th-sm">Student Name
                </th>
                <th class="th-sm">Date
                </th>
                <th class="th-sm">Phone Number 
                </th>
                <th class="th-sm">Amount
                </th>
                <th class="th-sm">Assessment Module
                </th>
                <th class="th-sm">Payment Mode
                </th>
              </tr>
            </thead>
            <tbody class="fw-bold">
              <tr>
                <td>1</td>
                <td>101</td>
                <td>Edinburgh</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                 <td>hegfesh</td>
                 <td>hegfesh</td>
                  <td>online</td>
              </tr>
              <tr>
                <td>2</td>
                <td>102</td>
                <td>Edinburgh</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                 <td>hegfesh</td>
                 <td>hegfesh</td>
                  <td>online</td>
              </tr>
              <tr>
                <td>3</td>
                <td>103</td>
                <td>Edinburgh</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                 <td>hegfesh</td>
                 <td>hegfesh</td>
                  <td>offline</td>
              </tr>
              <tr>
                <td>4</td>
                <td>104</td>
                <td>Edinburgh</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                 <td>hegfesh</td>
                 <td>hegfesh</td>
                  <td>online</td>
              </tr>
              <tr>
                <td>5</td>
                <td>105</td>
                <td>Edinburgh</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                 <td>hegfesh</td>
                 <td>hegfesh</td>
                  <td>online</td>
              </tr>
              <tr>
                <td>6</td>
                <td>106</td>
                <td>Edinburgh</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                 <td>hegfesh</td>
                 <td>hegfesh</td>
                  <td>online</td>
              </tr>
              <tr>
                <td>7</td>
                <td>107</td>
                <td>Edinburgh</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                 <td>hegfesh</td>
                 <td>hegfesh</td>
                  <td>online</td>
              </tr>
              <tr>
                <td>8</td>
                <td>108</td>
                <td>Edinburgh</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                 <td>hegfesh</td>
                 <td>hegfesh</td>
                  <td>online</td>
              </tr>
              <tr>
               <td>9</td>
                <td>109</td>
                <td>Edinburgh</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                 <td>hegfesh</td>
                 <td>hegfesh</td>
                  <td>online</td>
              </tr>
              <tr>
                <td>10</td>
                <td>110</td>
                <td>Edinburgh</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                 <td>hegfesh</td>
                 <td>hegfesh</td>
                  <td>online</td>
              </tr>
              <tr>
               <td>11</td>
                <td>111</td>
                <td>Edinburgh</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                 <td>hegfesh</td>
                 <td>hegfesh</td>
                  <td>online</td>
              </tr>
              <tr>
                <td>12</td>
                <td>112</td>
                <td>Edinburgh</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                 <td>hegfesh</td>
                 <td>hegfesh</td>
                  <td>online</td>
              </tr>
              <tr>
               <td>13</td>
                <td>113</td>
                <td>Edinburgh</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                 <td>hegfesh</td>
                 <td>hegfesh</td>
                  <td>online</td>
              </tr>
              <tr>
                <td>14</td>
                <td>114</td>
                <td>Edinburgh</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                 <td>hegfesh</td>
                 <td>hegfesh</td>
                  <td>online</td>
              </tr>
              <tr>
               <td>15</td>
                <td>115</td>
                <td>Edinburgh</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                 <td>hegfesh</td>
                 <td>hegfesh</td>
                  <td>online</td>
              
            </tbody>
            <tfoot>
              <tr>
                <th>Bill ID
                </th>
                <th>Transaction ID
                </th>
                <th>Student Name
                </th>
                <th>Date
                </th>
                <th>Phone Number
                </th>
                <th>Amount
                </th>
                <th>Assessment Module
                </th>
                <th>Payment Mode
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- data tables end -->
    </div>
    
</div>

