<!-- **************** MAIN CONTENT START **************** -->

<main>

      <!-- =======================
    Header START -->
    <section class="position-relative bg-light">
        <div class="container position-relative">
            <div class="row g-4 align-items-center">
                <div class="col-md-6 position-relative">
                    <!-- Title -->
                    <h1 class="mb-3">Innovating STEM Labs through R&D
                    </h1>
                    <p class="mb-4 lead">Our program's enable inquiry-based learning that promotes acquisition 
                        of deep conceptual domain knowledge and inquiry skills, with the 
                        further intent of interesting students in careers in science.
                    </p>
                </div>
                
                <!-- Image -->
                <div class="col-md-6">
                    <img src="assets/stem-edit.png" class="" width="100%" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Header END -->

</main>

<!-- **************** MAIN CONTENT END **************** -->