<!-- **************** MAIN CONTENT START **************** -->

<main>

<!-- =======================
STEM Labs EDUTECHEX START -->
<section class="pt-0 pt-lg-5">
    <div class="container">
        <div class="row g-4 align-items-center">
            <!-- Right side START -->
            <div class="col-lg-6">
                <!-- Image -->
                <img class="rounded-4" src="https://education.vex.com/images/home/eduhome1.png" width="90%" alt="">
            </div>
            <!-- Right side END -->
            <!-- Left side START -->
            <div class="col-lg-6">
                <!-- Title -->
                <h2 class="h1 mb-4">What is STEM Labs?
                </h2>
                <!-- <p class="mb-4">EDUTECHEX represents a critical catalyst in the decision-making process when students
                    are at the crossroads between passion, education and career..</p> -->
                <p>
                    STEM Labs function as "plugin" lessons that can fit into your existing curriculum. Multiple labs can be utilized in sequential order to create a unique, extended learning experience. STEM Labs promote collaboration and exploratory learning.
                </p>
                <p>
                    Students enjoy hands-on-learning activities that allow them to apply technology, science, math, and engineering skills as they enjoy a 21st-century learning experience.
                </p>
                <p>STEM Labs have something to offer for everyone.</p>
            </div>
            <!-- Left side END -->
        </div>
    </div>
</section>
<!-- =======================
STEM Labs EDUTECHEX END -->

</main>

<!-- **************** MAIN CONTENT END **************** -->