<div class="dashboard overflow-hidden fw-bold">
    <div class="mx-5 ">
      <div class="d-flex ">
        <h3 class="fw-bold  mt-5 fs-4 ">Mock Tests</h3> 
      </div>
        <div class="row mt-2 bg-white p-5 border   rounded">
            <div class="col-lg-7">
                <form action="" class="">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="name">Assessment Name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="mt-5">
                    <button class="btn btn-white border mx-3 btn-sm fw-bold shadow">Cancel</button>
                    <button class="btn  btn-sm text-white fw-bold shadow" style="background-color:#2AB2A6; ">Create Mock Test</button>
                    </div>
                  </form>
            </div>
            
            <div class="col-lg-5 d-flex justify-content-center align-items-center flex-column " style=" background-color: #F1F1F1; width: 320px; margin-left: 100px; padding:20px 0;">
                <div class="form-group p-2">
                    <label for="name">Select Segement</label><br>
                    <!-- <input type="text" class="form-control"> -->
                    <select class="form-select" aria-label="Default select example">
                        <option selected>K12 Curriculum</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div class="form-group p-2">
                    <label for="name">Select Grade</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>10th Grade</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div class="form-group p-2">
                    <label for="name">Select Currciculum</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>ICSE</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div class="form-group p-2">
                    <label for="name">Select Subject</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Physics</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div class="form-group p-2">
                    <label for="name">Select Topic</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Physics</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div class="form-group p-2">
                    <label for="name">Select Assessment Type</label>
                    <select class="form-select" aria-label="Default select example">
                        <!-- <option selected>Physics</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option> -->
                      </select>
                </div>
            </div>
        </div>
       
    </div>
    
</div>





