<div class="dashboard overflow-hidden">
    <div class="mx-3 ">
      <div class="d-flex mb-5">
        <h3 class="fw-bold  mt-5 fs-4 ">Notification</h3> 
        <div class="search-container" style=" margin-left:25%;">
          <form action="/action_page.php" class="mt-5 d-flex">
            <input type="text" placeholder="Search.." name="search" style="width:400px ; border: 1px solid rgba(0,0,0,0.2);">
            <mat-icon> search </mat-icon>
          </form>
        </div>
      </div>
        
        <!-- data tables start -->
        <div class="bg-white w-auto p-2 border">
        <table #dataTable class="display cellborder" >
            <thead>
              <tr>
                <th class="th-sm">Sl No.
                </th>
                <th class="th-sm">Teacher Name
                </th>
                <th class="th-sm">Test Name
                </th>
                <th class="th-sm">Assign To
                </th>
                <th class="th-sm">Exam Date 
                </th>
                <th class="th-sm">Created On
                </th>
                <th class="th-sm">Status
                </th>
                
              </tr>
            </thead>
           <tbody></tbody>
            <tfoot>
              <tr>
                <th>Sl No.
                </th>
                <th>Teacher Name
                </th>
                <th>Test Name
                </th>
                <th>Assign To
                </th>
                <th>Exam Date
                </th>
                <th>Created On
                </th>
                <th>Status
                </th>
                
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- data tables end -->
    </div>
    
</div>


