<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Header START -->
    <section class="position-relative bg-light">
        <div class="container position-relative">
            <div class="row g-4 align-items-center">
                <div class="col-md-6 position-relative">
                    <!-- Pre title -->
                    <div class="d-flex align-items-center mb-4">
                        <div class="icon-md bg-body rounded-circle shadow fs-5 text-warning">
                            <i class="bi bi-lightbulb"></i>
                        </div>
                        <span class="h6 ms-3 mb-0">Navigate Your Future With Us</span>
                    </div>
    
                    <!-- Title -->
                    <h2 class="mb-3 ">Deep Tech EDUTECH Products for Organizaitons and Industry 
                        <!-- <span class="position-relative z-index-9">Your Business
                        </span> -->
                    </h2>
    
                    <p class="mb-4 lead"> Transforming the learning experience through cutting edge technologies in edtech</p>
    
                </div>
                
                <!-- Image -->
                <div class="col-md-6">
                    <img src="assets/it-edit.png" class="" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Header END -->

    <!-- =======================
    Works Process END -->
    <section class="my-5 pt-5">
        <div class="container">
            <!-- Title -->
            <div class="row mb-4">
                <div class="col-lg-6 mx-auto text-center">
                    <h2 class="my-4">Our Works Process</h2>
                </div>
            </div>
            <div class="row g-4">
                <!-- Item -->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card border border-primary card-body text-center position-relative btn-transition p-4">
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">Create A Plan</a></h5>
                        <!-- <p>
                            There are many variation of passages of Lorem Ips available, but them
                        </p> -->
                    </div>
                </div>

                <!-- Item -->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card border border-primary card-body text-center position-relative btn-transition p-4">
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">Start Working</a></h5>
                        <!-- <p>
                            There are many variation of passages of Lorem Ips available, but them
                        </p> -->
                    </div>
                </div>

                <!-- Item -->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card border border-primary card-body text-center position-relative btn-transition p-4">
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">Publish Business</a></h5>
                        <!-- <p>
                            There are many variation of passages of Lorem Ips available, but them
                        </p> -->
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- =======================
    Works Process END -->

    <!-- =======================
    About START -->
    <section class="pt-0 pt-lg-5">
        <div class="container">
            <div class="row g-4 align-items-center">

                <!-- Right side START -->
                <div class="col-lg-6 position-relative">
                    <img src="https://quiety.themetags.com/assets/img/screen/widget-12.png" alt="">
                </div>
                <!-- Right side END -->

                <!-- Left side START -->
                <div class="col-lg-6">
                    <!-- Title -->
                    <h2 class="h1 mb-4">Bringing New IT Business Solutions And Ideas</h2>
                    <!-- <p class="mb-4">There are many variations of passages of Lorem Ipsum available
                        but the majority have suffered alteration in some form, by injecte
                        humour, or randomised words which
                    </p> -->

                </div>
                <!-- Left side END -->
            </div>
        </div>
    </section>
    <!-- =======================
    About END -->
                                            
    <!-- =======================
    We Customize START -->
    <section class="">
        <div class="container">
            <!-- Title -->
            <div class="row mb-4">
                <div class="col-lg-6 mx-auto text-center">
                    <h2 class="my-4">We Customize Your Software to The Smart Ways</h2>
                </div>
            </div>

            <div class="row g-4">
                <!-- Item -->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card shadow card-body text-center position-relative btn-transition p-4">
                        <!-- Image -->
                        <div class="icon-xl bg-body mx-auto rounded-circle mb-3">
                            <img src="https://img.icons8.com/pastel-glyph/64/000000/verified-scroll--v1.png"/>
                        </div>
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">Well Organization</a></h5>
                        <!-- <p>
                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam
                        </p> -->
                    </div>
                </div>

                <!-- Item -->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card shadow card-body text-center position-relative btn-transition p-4">
                        <!-- Image -->
                        <div class="icon-xl bg-body mx-auto rounded-circle mb-3">
                            <img src="https://img.icons8.com/external-xnimrodx-lineal-xnimrodx/74/000000/external-responsive-web-hosting-xnimrodx-lineal-xnimrodx.png"/>
                        </div>
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">Responsive Design</a></h5>
                        <!-- <p>
                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam
                        </p> -->
                    </div>
                </div>

                <!-- Item -->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card shadow card-body text-center position-relative btn-transition p-4">
                        <!-- Image -->
                        <div class="icon-xl bg-body mx-auto rounded-circle mb-3">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/security-configuration.png"/>
                        </div>
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">Heigh Security</a></h5>
                        <!-- <p>
                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam
                        </p> -->
                    </div>
                </div>

                 <!-- Item -->
                 <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card shadow card-body text-center position-relative btn-transition p-4">
                        <!-- Image -->
                        <div class="icon-xl bg-body mx-auto rounded-circle mb-3">
                            <img src="https://img.icons8.com/external-parzival-1997-detailed-outline-parzival-1997/64/000000/external-technology-artificial-intelligence-and-machine-learning-parzival-1997-detailed-outline-parzival-1997.png"/>
                        </div>
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">Creative Design</a></h5>
                        <!-- <p>
                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam
                        </p> -->
                    </div>
                </div>

                <!-- Item -->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card shadow card-body text-center position-relative btn-transition p-4">
                        <!-- Image -->
                        <div class="icon-xl bg-body mx-auto rounded-circle mb-3">
                            <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/60/000000/external-badge-cyber-monday-vitaliy-gorbachev-lineal-vitaly-gorbachev.png"/>
                        </div>
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">Clean Development</a></h5>
                        <!-- <p>
                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam
                        </p> -->
                    </div>
                </div>

                <!-- Item -->
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card shadow card-body text-center position-relative btn-transition p-4">
                        <!-- Image -->
                        <div class="icon-xl bg-body mx-auto rounded-circle mb-3">
                            <img src="https://img.icons8.com/external-xnimrodx-lineal-xnimrodx/64/000000/external-analytics-infographic-and-chart-xnimrodx-lineal-xnimrodx.png"/>
                        </div>
                        <!-- Title -->
                        <h5 class="mb-2"><a class="stretched-link">Advanced Analytics</a></h5>
                        <!-- <p>
                            Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam
                        </p> -->
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- =======================
    We Customize END -->

     <!-- =======================
    About START -->
    <section class="pt-0 pt-lg-5">
        <div class="container">
            <div class="row g-4 align-items-center">

                <!-- Left side START -->
                <div class="col-lg-6">
                    <!-- Title -->
                    <h2 class="h1 mb-4">Advanced Analytics, Understand Business</h2>
                    <!-- <p class="mb-4">
                        Distinctively promote parallel vortals with ubiquitous e-markets. Proactively benchmark turnkey optimize next-generation strategic leadership without resource sucking ideas.
                    </p> -->

                </div>
                <!-- Left side END -->

                <!-- Right side START -->
                <div class="col-lg-6 position-relative">
                    <img src="https://quiety.themetags.com/assets/img/screen/widget-11.png" alt="">
                </div>
                <!-- Right side END -->
            </div>
        </div>
    </section>
    <!-- =======================
    About END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->