<!-- **************** COURSE-DETAILS CONTENT START **************** -->

<main>

	<!-- =======================
    Page intro START -->
	<section class="bg-light py-0 py-sm-5">
		<div class="container">
			<div class="row py-5">
				<div class="col-lg-8">
					<!-- Title -->
					<h1>{{this.selectedCourseName}}</h1>
					<p>{{selectedCourseType}}</p>
					<!-- Content -->
					<ul class="list-inline mb-0">
						<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i
								class="fas fa-star text-warning me-2"></i>4.5/5.0</li>
						<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i
								class="fas fa-user-graduate text-orange me-2"></i>12k Enrolled</li>
						<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i
								class="fas fa-signal text-success me-2"></i>All levels</li>
						<li class="list-inline-item h6 mb-0"><i class="fas fa-globe text-info me-2"></i>English</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
    Page intro END -->
	<!-- =======================
	Page content START -->
	<section class="pb-0 py-lg-5">
		<div class="container">
			<div class="row">
				<!-- Main content START -->
				<div class="col-lg-8">
					<div class="card shadow rounded-2">
						<!-- Tabs START -->
						<div class="card-header border-bottom ps-5">
							<ul class="nav nav-pills nav-tabs-line" id="course-pills-tab" role="tablist">
								<!-- Tab item -->
								<li class="nav-item" role="presentation">
									<button class="nav-link mb-2 mb-md-0 active" id="course-pills-tab-1"
										data-bs-toggle="pill" data-bs-target="#course-pills-1" type="button" role="tab"
										aria-controls="course-pills-1" aria-selected="true">Overview</button>
								</li>
								<!-- Tab item -->
								<li class="nav-item" role="presentation">
									<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-2" data-bs-toggle="pill"
										data-bs-target="#course-pills-2" type="button" role="tab"
										aria-controls="course-pills-2" aria-selected="false">Syllabus</button>
								</li>
								<!-- Tab item -->
								<li class="nav-item" role="presentation">
									<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-6" data-bs-toggle="pill"
										data-bs-target="#course-pills-6" type="button" role="tab"
										aria-controls="course-pills-6" aria-selected="false">Pricing & Features</button>
								</li>
								<!-- Tab item -->
								<li class="nav-item" role="presentation">
									<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-5" data-bs-toggle="pill"
										data-bs-target="#course-pills-5" type="button" role="tab"
										aria-controls="course-pills-5" aria-selected="false">FAQs </button>
								</li>
								<!-- Tab item -->
								<li class="nav-item" role="presentation">
									<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-4" data-bs-toggle="pill"
										data-bs-target="#course-pills-4" type="button" role="tab"
										aria-controls="course-pills-4" aria-selected="false">Testimonials</button>
								</li>
								<!-- Tab item -->
								<li class="nav-item" role="presentation">
									<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-3" data-bs-toggle="pill"
										data-bs-target="#course-pills-3" type="button" role="tab"
										aria-controls="course-pills-3" aria-selected="false">Test Dates</button>
								</li>
							</ul>
						</div>
						<!-- Tabs END -->

						<!-- Tab contents START -->
						<div class="card-body">
							<div class="tab-content pt-2" id="course-pills-tabContent">
								<!-- Content START -->
								<div class="tab-pane fade show active" id="course-pills-1" role="tabpanel"
									aria-labelledby="course-pills-tab-1">
									<div class="d-grid mx-auto col-11">
										<h5 class="mb-3">Course Overview</h5>
										<div *ngFor="let overview of selectedCourseOverview">
											<!-- <h6 class="mb-3">{{overview?.title}}</h6> -->
											<p class="mb-3" style="white-space: pre-wrap">
												{{overview?.description}}
											</p>
											<p class="mb-3 text-dark" style="white-space: pre-wrap">
												{{overview?.note}}
											</p>
										</div>
										<div *ngFor="let examPattern of selectedCourseExamPattern">
											<div class="accordion accordion-icon accordion-bg-light"
												id="accordionExample">
												<div class="accordion-item border-0">
													<h6 class="accordion-header font-base" id="headingOne">
														<button
															class="accordion-button fw-bold rounded-0 d-inline-block mb-3"
															type="button" data-bs-toggle="collapse"
															data-bs-target="#collapseOne" aria-expanded="true"
															aria-controls="collapseOne">
															{{examPattern?.title}}
														</button>
													</h6>
													<div id="collapseOne" class="accordion-collapse collapse"
														aria-labelledby="headingOne" data-bs-parent="#accordionExample">
														<div class="accordion-body">
															<!-- Course accordion START -->
															<div class="accordion accordion-icon accordion-bg-light mx-2"
																id="accordionExample2">
																<!-- Item -->
																<div class="accordion-item mb-3"
																	*ngFor="let content of examPattern.question; let i = index" >
																	<h6 class="accordion-header font-base"
																		[id]="'heading-1'+i">
																		<button
																			class="accordion-button fw-bold rounded-0 d-inline-block"
																			[ngClass]="{'collapsed': i != 0}"
																			type="button" data-bs-toggle="collapse"
																			[attr.data-bs-target]="'#collapse-1'+i"
																			aria-expanded="true"
																			[attr.aria-controls]="'collapse-1'+i">
																			{{content?.section}} <br>
																			<span
																				class="fw-light mt-2">{{content?.noOfQus}}
																				| {{content?.duration}} |
																				{{content?.scor}}</span>
																		</button>
																	</h6>
																	<!-- Body -->
																	<div [id]="'collapse-1'+i"
																		class="accordion-collapse collapse"
																		[ngClass]="{ 'show': i == 0 }"
																		[attr.aria-labelledby]="'heading-1'+i"
																		data-bs-parent="#accordionExample2">
																		<p class="mt-1">
																			{{content?.sectionDescription ? content?.sectionDescription :''}}
																		</p>
																		<p class=" mt-0">
																			{{content?.sectionSubDescriptionOne}}
																		</p>
																			<ul class="fw-light " *ngFor="let data of content.formatOne">
																				<li class="p-0 mx-3">{{data?.data}}</li>
																			</ul>

																			<ul class="fw-light " *ngFor="let dataOne of content.format">
																				<li class="p-0 mx-3">{{dataOne?.dataTwo}}</li>
																			</ul>
																			<p class="mt-0">
																				{{content?.sectionSubDescriptionTwo}}</p>
																				<ul *ngFor="let dataquestion of content.typeQuestions">
																					<li>{{dataquestion?.questionData}}</li>
																				</ul>
																	</div>
																</div>
															</div>
															<!-- Course accordion END -->
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<!-- Content END -->

								<!-- Content START -->
								<div class="tab-pane fade" id="course-pills-2" role="tabpanel"
									aria-labelledby="course-pills-tab-2" >
									<div *ngFor="let examPattern of selectedCourseSyllabus"
										class="d-grid mx-auto col-11">
										<!-- Course accordion START -->
										<div class="accordion accordion-icon accordion-bg-light mx-2"
											id="accordionExample2">
											<!-- Item -->
											<div class="accordion-item mb-3"
												*ngFor="let content of examPattern.content; let i = index" >
												<h6 class="accordion-header font-base" [id]="'heading-1'+i"
													style="white-space: pre-wrap">
													<button class="accordion-button fw-bold rounded-0 d-inline-block"
														[ngClass]="{'collapsed': i != 0}" type="button"
														data-bs-toggle="collapse"
														[attr.data-bs-target]="'#collapse-1'+i" aria-expanded="true"
														[attr.aria-controls]="'collapse-1'+i">
														{{content?.section}} <br>
													</button>
												</h6>
												<!-- Body -->
												<div [id]="'collapse-1'+i" class="accordion-collapse collapse"
													[ngClass]="{ 'show': i == 0 }"
													[attr.aria-labelledby]="'heading-1'+i"
													data-bs-parent="#accordionExample2">
													<p class="" >
														{{content?.topic}}
													</p>
													<p class="fw-light mx-3">
														{{content?.sectionDescription}}
													</p>
													<ul class="fw-light " *ngFor="let data of content.format">
														<li class="p-1 mx-3">{{data?.data}}</li>
													</ul>
													
													
												</div>
											</div>
										</div>
										<!-- Course accordion END -->
									</div>
								</div>
								<!-- Content END -->

								<!-- Content START -->
								<div class="tab-pane fade" id="course-pills-3" role="tabpanel"
									aria-labelledby="course-pills-tab-3">
									<div class="border p-3">
										<div *ngFor="let examdate of selectedCourseExamDate">
											<div class="d-flex mb-3 align-items-center">
												<i class="fas fa-calendar fs-4"></i>
												<div class="d-flex flex-column ps-3 ">
													<span>{{examdate?.date}}</span>
													<span>{{examdate?.time}}</span>
												</div>
											</div>
											<h5 class="mb-2">{{examdate?.title}} </h5>
											<p> {{examdate?.description}}
											<p>
										</div>
									</div>
								</div>
								<!-- Content END -->

								<!-- Content START -->
								<div class="tab-pane fade" id="course-pills-4" role="tabpanel"
									aria-labelledby="course-pills-tab-4">
									<!-- Student review START -->
									<div class="d-grid mx-auto col-11">
										<h5 class="mb-4">Our Student Reviews</h5>
										<!-- Review item START -->
										<div *ngFor="let review of selectedCourseReviews" class="d-md-flex my-4">
											<!-- Avatar -->
											<div class="avatar avatar-xl me-4 flex-shrink-0">
												<img class="avatar-img rounded-circle" src="assets/images/avatar/09.jpg"
													alt="avatar">
											</div>
											<!-- Text -->
											<div>
												<div class="d-sm-flex mt-1 mt-md-0 align-items-center">
													<h5 class="me-3 mb-0">{{review?.name}}</h5>
													<!-- Review star -->
													<ul class="list-inline mb-0">
														<li class="list-inline-item me-0"><i
																class="fas fa-star text-warning"></i></li>
														<li class="list-inline-item me-0"><i
																class="fas fa-star text-warning"></i></li>
														<li class="list-inline-item me-0"><i
																class="fas fa-star text-warning"></i></li>
														<li class="list-inline-item me-0"><i
																class="fas fa-star text-warning"></i></li>
														<li class="list-inline-item me-0"><i
																class="far fa-star text-warning"></i></li>
													</ul>
												</div>
												<p class="mb-2">
													{{review?.comments}}
												</p>
											</div>
										</div>
										<!-- Divider -->
										<hr>
										<!-- Review item END -->
									</div>
									<!-- Student review END -->

								</div>
								<!-- Content END -->

								<!-- Content START -->
								<div class="tab-pane fade" id="course-pills-5" role="tabpanel"
									aria-labelledby="course-pills-tab-5">
									<div class="d-grid mx-auto col-11">
										<!-- Title -->
										<h5 class="mb-3">Frequently Asked Questions</h5>
										<!-- Accordion START -->
										<div class="accordion accordion-flush" id="accordionExample">
											<!-- Item -->
											<div class="accordion-item"
												*ngFor="let questions of selectedCourseFaqs; let i = index">
												<h2 class="accordion-header" [id]="'headingOne'+i">
													<button class="accordion-button" [ngClass]="{'collapsed': i != 0}"
														type="button" data-bs-toggle="collapse"
														[attr.data-bs-target]="'#collapseOne'+i" aria-expanded="true"
														[attr.aria-controls]="'collapseOne'+i">
														<span class="text-white fw-bold me-3">0{{i+1}}</span>
														<span class="fw-bold">{{questions?.questions}}</span>
													</button>
												</h2>
												<div [id]="'collapseOne'+i" class="accordion-collapse collapse"
													[ngClass]="{ 'show': i == 0 }"
													[attr.aria-labelledby]="'headingOne'+i"
													data-bs-parent="#accordionExample">
													<div class="accordion-body pt-0">
														{{questions?.answers}}
													</div>
												</div>
											</div>
										</div>
										<!-- Accordion END -->
									</div>
								</div>
								<!-- Content END -->

								<!-- Content START -->
								<div class="tab-pane fade" id="course-pills-6" role="tabpanel"
									aria-labelledby="course-pills-tab-6">
									<ul class="list-group list-group-borderless mb-3 ps-3">
										<li *ngFor="let feature of selectedCoursePriceandFeature"
											class="list-group-item h6 fw-light d-flex mb-0">
											<i class="fas fa-check-circle text-success me-2"></i>
											{{feature?.features}}
										</li>
									</ul>
								</div>
								<!-- Content END -->

							</div>
						</div>
						<!-- Tab contents END -->


					</div>
				</div>
				<!-- Main content END -->

				<!-- Right sidebar START -->
				<div class="col-lg-4 pt-5 pt-lg-0">
					<div class="row mb-5 mb-lg-0">
						<div class="col-md-6 col-lg-12">
							<!-- Video START -->
							<div class="card shadow p-2 mb-4 z-index-9">
								<div class="overflow-hidden rounded-3">
                                    <iframe width="100%" height="245" src="https://www.youtube.com/embed/CZ70xAZh5Rs?autoplay=1&mute=1&loop=1">
                                    </iframe>
                                    <!-- Overlay -->
                                    <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                    </div>
                                </div>

								<!-- Card body -->
								<div class="card-body px-3">
									<!-- Info -->
									<div class="d-flex justify-content-evenly align-items-center">
										<!-- Price and time -->
										<div>
											<div class="d-flex align-items-center justify-content-evenly">
												<h3 class="fw-bold mb-0 me-2">{{selectedCoursePrice}}</h3>
												<span
													class="text-decoration-line-through mb-0 me-2">{{selectedCourseDiscount}}</span>
												<span class="badge bg-primary text-white mb-0 ms-3">20% off</span>
											</div>
										</div>

									</div>

									<!-- Buttons -->
									<div class="mt-3 d-sm-flex justify-content-center">
										<a href="#" class="btn btn-outline-success mb-0" data-bs-toggle="modal"
											data-bs-target="#exampleModal">Enroll
											Now
										</a>
									</div>
								</div>
							</div>
							<!-- Video END -->

							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog ">
									<div class="modal-content rounded-0 p-2">
										<div class="modal-body">
											<!-- Title -->
											<h2 class="mt-4 mt-md-0" style="color:#2AB2A6">Let's talk</h2>
											<p>To request information regarding any course or product, contact us
												directly or fill out the form and
												we will get
												back to your promptly</p>

											<form>
												<!-- Name -->
												<div class="mb-3 bg-light-input">
													<!-- <label for="yourName" class="form-label">Your name *</label> -->
													<input type="text" class="form-control form-control-lg"
														placeholder="Your name" id="yourName">
												</div>
												<!-- Email -->
												<div class="mb-3 bg-light-input">
													<!-- <label for="emailInput" class="form-label">Email address *</label> -->
													<input type="email" class="form-control form-control-lg"
														placeholder="Email address" id="emailInput">
												</div>
												<!-- Phone No -->
												<div class="mb-3 bg-light-input">
													<!-- <label for="emailInput" class="form-label">Phone No *</label> -->
													<input type="email" class="form-control form-control-lg"
														placeholder="Phone No" id="emailInput">
												</div>
												<!-- Message -->
												<div class="mb-3 bg-light-input">
													<!-- <label for="textareaBox" class="form-label">Message *</label> -->
													<textarea class="form-control" id="textareaBox" rows="4"
														placeholder="Message"></textarea>
												</div>
												<!-- Button -->
												<div class="d-grid">
													<button class="btn btn-lg mb-0 text-white" type="button"
														style="background-color: #444cae;">Send
														Message</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>

							<!-- Course info START -->
							<div class="card card-body shadow p-4 mb-4">
                                <!-- Title -->
                                <h4 class="mb-3">This course includes</h4>
                                <ul class="list-group list-group-borderless">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span class="h6 fw-light mb-0"><i class="fas fa-fw fa-book-open text-primary"></i>Sessions</span>
                                        <span>80</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span class="h6 fw-light mb-0"><i class="fas fa-fw fa-clock text-primary"></i>Duration</span>
                                        <span>4 months</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span class="h6 fw-light mb-0"><i class="fas fa-toggle-on text-primary"></i>Mode</span>
                                        <span>Online and Offline</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span class="h6 fw-light mb-0"><i class="fas fa-book  text-primary"></i>Assessments</span>
                                        <span>12</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span class="h6 fw-light mb-0"><i class="fas fa-fw fa-globe text-primary"></i>Language</span>
                                        <span>English</span>
                                    </li>
                                </ul>
                            </div>
							<!-- Course info END -->
						</div>

						<div class="col-md-6 col-lg-12">
							<!-- Recently Viewed START -->
							<div class="card card-body shadow p-4 mb-4">
								<!-- Title -->
								<h4 class="mb-3">Recently Viewed</h4>
								<!-- Course item START -->
								<div class="row gx-3 mb-3">
									<!-- Image -->
									<div class="col-4">
										<img class="rounded" src="assets/images/courses/4by3/21.jpg" alt="">
									</div>
									<!-- Info -->
									<div class="col-8">
										<h6 class="mb-0"><a href="#">Fundamentals of Business Analysis</a></h6>
										<ul
											class="list-group list-group-borderless mt-1 d-flex justify-content-between">
											<li class="list-group-item px-0 d-flex justify-content-between">
												<span class="text-success">$130</span>
												<span class="h6 fw-light">4.5<i
														class="fas fa-star text-warning ms-1"></i></span>
											</li>
										</ul>
									</div>
								</div>
								<!-- Course item END -->

								<!-- Course item START -->
								<div class="row gx-3">
									<!-- Image -->
									<div class="col-4">
										<img class="rounded" src="assets/images/courses/4by3/18.jpg" alt="">
									</div>
									<!-- Info -->
									<div class="col-8">
										<h6 class="mb-0"><a href="#">The Complete Video Production Bootcamp</a></h6>
										<ul
											class="list-group list-group-borderless mt-1 d-flex justify-content-between">
											<li class="list-group-item px-0 d-flex justify-content-between">
												<span class="text-success">$150</span>
												<span class="h6 fw-light">4.0<i
														class="fas fa-star text-warning ms-1"></i></span>
											</li>
										</ul>
									</div>
								</div>
								<!-- Course item END -->
							</div>
							<!-- Recently Viewed END -->

							<!-- Tags START -->
							<div class="card card-body shadow p-4">
								<h4 class="mb-3">Popular Tags</h4>
								<ul class="list-inline mb-0">
									<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm"
											href="#">blog</a> </li>
									<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm"
											href="#">business</a> </li>
									<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm"
											href="#">theme</a> </li>
									<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm"
											href="#">bootstrap</a> </li>
									<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">data
											science</a> </li>
									<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">web
											development</a> </li>
									<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm"
											href="#">tips</a> </li>
									<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm"
											href="#">machine learning</a> </li>
								</ul>
							</div>
							<!-- Tags END -->
						</div>
					</div><!-- Row End -->
				</div>
				<!-- Right sidebar END -->

			</div><!-- Row END -->
		</div>
	</section>
	<!-- =======================
	Page content END -->

</main>


<!-- **************** COURSE-DETAILS CONTENT END **************** -->