<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Page Banner START -->

    <section class="py-0 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="p-4 rounded-3 position-relative overflow-hidden">
    
                        <!-- Svg decoration -->
                        <figure class="position-absolute top-0 end-0 mt-5">
                            <svg width="566.3px" height="353.7px" viewBox="0 0 566.3 353.7"	>
                                <path stroke="#17a2b8" fill="none" d="M525.1,4c8.1,0.7,14.9,7.2,17.9,14.8c3,7.6,3,16,2.1,24.1c-4.7,44.3-32.1,84.7-69.4,108.9 c-37.4,24.2-83.7,32.8-127.9,27.6c-32.3-3.8-63.5-14.5-95.9-16.6c-21.6-1.4-45.6,2.1-60.1,18.3c-7.7,8.5-11.8,19.6-14.8,30.7 c-7.9,29.5-9,60.8-19.7,89.5c-5.5,14.8-14,29.1-27.1,38c-15.6,10.5-35.6,12-54.2,9.5c-18.6-2.5-36.5-8.6-55-12.1"/>
                                <path stroke="#F99D2B" fill="none" d="M560.7,0.2c10,18.3,3.7,41.1-5,60.1c-11.8,25.9-28,50.3-50.2,68.2c-29,23.3-66.3,34-103.2,38.6 c-36.9,4.6-74.3,3.8-111.3,7.2c-22.3,2-45.3,5.9-63.5,19c-26.8,19.2-39,55.3-68.3,70.4c-38.2,19.6-89.7-4.9-125.6,18.8 c-22.6,15-30.7,44.2-33.3,71.2"/>
                            </svg>
                        </figure>
    
                        <div class="row position-relative align-items-center">
    
                            <!-- Content -->
                            <div class="col-md-6 px-md-5">
                                <!-- Title -->
                                <h1 class="mb-3">Welcome to our online book store!</h1>
                                <p class="mb-3">Expand knowledge by reading book Two before narrow not relied on how except moment myself Dejection assurance. </p>
    
                                <!-- Search -->
                                <form class=" rounded p-2">
                                    <div class="input-group">
                                        <button class="btn bg-transparent px-2 py-0  position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
                                        <input class="form-control border-1 me-1" type="text" name="search" [(ngModel)]="searchText" placeholder="Find your course">
                                    </div>
                                </form>
                            </div>
    
                            <!-- Image -->
                            <div class="col-md-6 text-center">
                                <img src="assets/images/book/course.svg" width="100%" alt="" class="">
                            </div>
                        </div> <!-- Row END -->
                    </div>
                </div>
            </div> <!-- Row END -->
        </div>
    </section>
    <!-- =======================
    Page Banner END -->
    
    <!-- =======================
    Page content START -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <!-- Main content START -->
                <div class="col-12">
    
                    <!-- Search option START -->
                    <div class="row mb-4 align-items-center">
    
                        <!-- Title -->
                        <div class="col-sm-6 col-xl-6 mt-3 mt-lg-0">
                            <h5 class="mb-0">All Listed Books</h5>
                        </div>
                        
                          <!-- Select Segment option -->
                        <div class="col-sm-6 col-xl-3 mt-3 mt-lg-0">
                            <form class="border rounded p-2">
                                <select class="form-select form-select-sm js-choice input-borderless" (change)='onSelect(val.value)' #val>
                                    <option  value="null">Select Segment</option>
                                    <option *ngFor="let segmentItem of allSegmentList" [value]="segmentItem?.segment">
                                        <ng-container>
                                            {{segmentItem?.segment}}
                                        </ng-container>
                                    </option>
                                </select>
                            </form>
                        </div>
    
                        <!--  Select program  option -->
                        <div class="col-sm-6 col-xl-3 mt-3 mt-xl-0">
                            <form class="border rounded p-2">
                                <select class="form-select form-select-sm js-choice input-borderless" (change)='onSelectSub(val2.value)' #val2>
                                    <option  value="null"> Select program</option>
                                    <option *ngFor="let programItem of programList" [value]="programItem?.program_title">
                                        <ng-container>
                                            {{programItem?.program_title}}
                                        </ng-container>
                                    </option>
                                </select>
                            </form>
                        </div>

                    </div>
                    <!-- Search option END -->
    
                    <!-- Book Grid START -->
                    <div class="row g-4">
                        <!-- Card item START -->
                        <div id="{{ i }}" *ngFor="let list of buyCoursesList; let i = index" class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="card shadow h-100">
                                <div class="position-relative">
                                    <!-- Image -->
                                    <img [src]="list?.image" class="card-img-top" alt="book image">
                                    <!-- Overlay -->
                                    <div class="card-img-overlay d-flex z-index-0 p-3">
                                        <!-- Card overlay Top -->
                                        <div class="mb-auto d-flex justify-content-end">
                                            <!-- Card format icon -->
                                            <div class="icon-md bg-dark rounded-circle fs-5">
                                                <a href="#" class="text-white"><i class="bi bi-book"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title text-truncate-2">{{list?.menuName}}</h5>
                                        <!-- <a>viewmore</a> -->
                                        <!-- <i class="fa-solid fa-ellipsis-vertical"></i> -->
                                       <a [routerLink]="[list?.link]"><i class='fas fa-ellipsis-v text-dark'  > </i></a> 
                                    </div>
                                    <span class="h6">{{list?.subTitle ? list?.subTitle : ''}}</span>
                                    <p class="card-text text-truncate-2">
                                        {{list?.details}}
                                    </p>
                                </div>

                                <div class="card-footer">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <!-- Price -->
                                        <h5 class="mb-0">₹{{list?.variationCost}}</h5>
                                        <span class="text-decoration-line-through mb-0">₹{{list?.discount}}</span>
                                        <span class="badge bg-success text-white mb-0 ms-3">20% off</span>
                                    </div>
                                    <div class="d-grid mx-auto">
                                        <a (click)="addToCart(list)" class="btn btn-success rounded-0 btn-sm">Add to cart</a>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                    </div>
                    <!-- Book Grid END -->
                </div>
                <!-- Main content END -->
            </div><!-- Row END -->
        </div>
    </section>
    <!-- =======================
    Page content END -->
      
</main>
<!-- **************** MAIN CONTENT END **************** -->