
<div class="dialog-box" style="width:500px; height:400px">
    <div class="d-flex justify-content-between">
        <h1 mat-dialog-title>Bulk Upload Questions</h1>
        <button mat-icon-button [mat-dialog-close]="false"><mat-icon>close</mat-icon></button>
    </div>
<div mat-dialog-content >
  <mat-form-field appearance="fill">
    <div class="d-flex justify-content-between align-items-center">
        <div class="form border mx-4" >
            <span class="material-icons add" style="width:200px;height: 200px;">
                add_circle_outline
                </span>
                <p class="d-flex justify-content-center align-items-center" style="background-color:  #F3F3F3;">Excel Sheets</p>
        </div>
        <div class="form border" >
            <span class="material-icons add" style="width:200px; height:200px;" (click)="openModalBulkImage()">
                add_circle_outline
                </span>
                <p class="d-flex justify-content-center align-items-center" style="background-color:  #F3F3F3;">Images</p>
        </div>
    </div>
    
  </mat-form-field>
</div>
<!-- <div mat-dialog-actions class="align-items-center">
    <button  mat-button [mat-dialog-close]="false" class="btn shadow" data-bs-dismiss="modal" style="background-color: #fff;">Cancel</button>
    <button mat-button [mat-dialog-close]="true" class="btn shadow text-white "style="background-color: #35B18A;">Create</button>
</div> -->
</div>

