<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- Avatar -->
            <div class="avatar avatar-xl mb-3">
                <img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar">
            </div>
            <!-- Content -->
            <blockquote>
                <p>
                    <span class="me-1 small"><i class="fas fa-quote-left"></i></span>
                    My dream to become an aeronautical engineer date back to my child hood. I was extremely fortunate to
                    be associated with EduTechEx and by taking their SAT program, I formed a solid foundation for my
                    successful ivy league application process.
                    <span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
                </p>
            </blockquote>
            <!-- Name -->
            <h6 class="mb-2">Simha Davalekar</h6>
            <p>Class 12th</p>
        </div>
        <div class="carousel-item">
            <!-- Avatar -->
            <div class="avatar avatar-xl mb-3">
                <img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar">
            </div>
            <!-- Content -->
            <blockquote>
                <p>
                    <span class="me-1 small"><i class="fas fa-quote-left"></i></span>
                    My dream to become an aeronautical engineer date back to my child hood. I was extremely fortunate to
                    be associated with EduTechEx and by taking their SAT program, I formed a solid foundation for my
                    successful ivy league application process.
                    <span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
                </p>
            </blockquote>
            <!-- Name -->
            <h6 class="mb-2">Simha Davalekar</h6>
            <p>Class 12th</p>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>