<section>
    <div class="container">
        <h2 class="mb-4">CANCELLATION POLICY</h2>
        <div class="bg-light border-start border-0 border-4 border-primary">
            <h5 class="p-2">Cancellation and Refund:</h5>
        </div>
        <p>
            <span class="fw-bold">Cancellation Policy:</span> <br><br>
            Fee once paid after the trail period will not be refunded. Fee will only be refunded in a case where the course is cancelled by EduTechEx due to unavoidable circumstances only if this happens 15 days after the course has commenced. Delay in the starting of the class or course by a fortnight shall not be considered as cancellation. 
        </p>
        <div class="bg-light border-start border-0 border-4 border-primary">
            <h5 class="p-2">Refund Policy </h5>
        </div>
        <p>
            Refund request only in cases stated in the cancellation policy will be processed after sending an email to office@edutechex.com. Refunds shall be made to bank account within 10 working days after the request has been received and processed by EduTechEx Team.
        </p>
    </div>
</section>